In [1]:
import pandas as pd
import yfinance as yf
import sqlite3

In [45]:
df = pd.read_csv('./data/IBrA.csv', delimiter=';')

In [46]:
df

    Código           Ação       Tipo  Qtde. Teórica Part. (%)
0     AALR3        ALLIAR      ON NM     46.716.473     0,019
1     ABCB4    ABC BRASIL  PN EJS N2     73.745.621     0,044
2     ABEV3     AMBEV S/A         ON  4.355.174.839     2,638
3     ALPA4    ALPARGATAS      PN N1    168.770.200     0,251
4     ALSO3  ALIANSCSONAE      ON NM    127.376.805     0,129
..      ...           ...        ...            ...       ...
159   VULC3     VULCABRAS      ON NM     74.685.291     0,022
160   VVAR3     VIAVAREJO  ON ATZ NM  1.595.083.594     0,934
161   WEGE3           WEG      ON NM    741.148.001     2,281
162   WIZS3      WIZ S.A.      ON NM     77.453.769     0,022
163   YDUQ3    YDUQS PART      ON NM    300.483.575     0,374

[164 rows x 5 columns]

In [47]:
df.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']
acoes = df.Codigo
acoes

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [48]:
acoes.to_csv('./data/acoes.csv')

C:\Users\rafae\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [49]:
codigos = pd.read_csv('./data/acoes.csv', names=['Codigo'])
acoes = codigos.Codigo
acoes = [i + '.SA' for i in acoes]
acoes = pd.Series(acoes)
acoes.to_csv('./data/acoes.csv')

C:\Users\rafae\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """

In [50]:
tickers = pd.read_csv('./data/acoes.csv', names=['Codigo'])
tickers

       Codigo
0    AALR3.SA
1    ABCB4.SA
2    ABEV3.SA
3    ALPA4.SA
4    ALSO3.SA
..        ...
159  VULC3.SA
160  VVAR3.SA
161  WEGE3.SA
162  WIZS3.SA
163  YDUQ3.SA

[164 rows x 1 columns]

In [54]:
type(list(tickers.Codigo))

list

In [5]:
t = pd.datetime.today()

In [25]:
str(t)[0:10]

'2021-01-14'

In [26]:
str(pd.datetime.today())[0:10]

'2021-01-14'

In [27]:
pd.to_datetime(-1, unit='D', origin=t)

Timestamp('2021-01-13 00:00:00')

In [28]:
t

datetime.datetime(2021, 1, 14, 8, 36, 23, 456910)

In [16]:
hoje = '2021-01-14 08:24:33'

In [ ]:
# Testando a existência de um arquivo
f = open("./data/historico_bovespa.db")

In [ ]:
f.close()

In [ ]:
# Lendo lista de ações a serem importadas
iBrA = pd.read_csv("./data/IBrA.csv", delimiter=';')
iBrA

In [ ]:
# Alterando nome das colunas para evitar erros por acentuação
iBrA.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']

In [ ]:
iBrA.head()

In [ ]:
iBrA.Codigo

In [ ]:
iBrA.loc[:, 'Codigo']

In [ ]:
iBrA.dtypes

In [ ]:
# Extraindo os códigos das ações da lista e acrescentando .SA a todos os símbolos para poder fazer o download
acoes = list(iBrA.Codigo)
acoes = [i + '.SA' for i in acoes]
acoes

In [ ]:
# Download de todoas as ações da lista
data = yf.download(acoes)

In [ ]:
type(data.columns)

In [ ]:
data.dtypes

In [ ]:
# Reordenando os níveis de índice nas colunas
data.columns = data.columns.reorder_levels([1, 0])

In [ ]:
# Ordenando as colunas em ordem alfabética
data.sort_index(axis=1, inplace=True)

In [ ]:
# Salvando em um arquivo .csv
data.to_csv('./data/base_bovespa.csv')

In [ ]:
# Slicing do dataframe
data.loc[:, 'ABCB4.SA':'BBSA3.SA']

In [ ]:
# Lendo arquivo .csv
try:
    historico = pd.read_csv('./data/base_bovespa.csv')
except FileNotFoundError:
    print('Arquivo não encontrado')

In [29]:
# Conectando a banco de dados SQL
import sqlite3
conn = sqlite3.connect("./data/historico_bovespa.db")

In [35]:
hist = pd.read_sql_query("SELECT * FROM HIST", conn)

In [36]:
hist

,Date,"('AALR3.SA', 'Adj Close')","('AALR3.SA', 'Close')","('AALR3.SA', 'High')","('AALR3.SA', 'Low')","('AALR3.SA', 'Open')","('AALR3.SA', 'Volume')","('ABCB4.SA', 'Adj Close')","('ABCB4.SA', 'Close')","('ABCB4.SA', 'High')",...,"('WIZS3.SA', 'High')","('WIZS3.SA', 'Low')","('WIZS3.SA', 'Open')","('WIZS3.SA', 'Volume')","('YDUQ3.SA', 'Adj Close')","('YDUQ3.SA', 'Close')","('YDUQ3.SA', 'High')","('YDUQ3.SA', 'Low')","('YDUQ3.SA', 'Open')","('YDUQ3.SA', 'Volume')"
0,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,2021-01-08 00:00:00,11.03,11.03,11.12,10.23,10.28,489200.0,16.10,16.10,16.490000,...,8.00,7.77,7.78,722300.0,33.930000,33.930000,33.98,33.000000,33.290001,1625800.0
5289,2021-01-11 00:00:00,11.14,11.14,11.23,10.80,11.09,444800.0,15.87,15.87,16.200001,...,7.96,7.62,7.94,1708400.0,32.590000,32.590000,34.68,32.330002,34.669998,4600200.0
5290,2021-01-12 00:00:00,11.08,11.08,11.18,10.92,11.14,241600.0,16.25,16.25,16.379999,...,7.77,7.63,7.66,1253500.0,34.099998,34.099998,34.18,31.740000,32.119999,6139300.0
5291,2021-01-13 00:00:00,10.97,10.97,11.21,10.89,11.12,188700.0,16.24,16.24,16.610001,...,7.87,7.63,7.75,1046700.0,33.820000,33.820000,34.59,33.110001,34.040001,2275700.0
5292,2021-01-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
from ast import literal_eval
# Reconstruindo índices
# Reconstrói o dataset com Date como index, e colunas multi-index com tuplas
hist.set_index('Date', drop=True, inplace=True)
hist.index = pd.to_datetime(hist.index)
hist.columns = list(map(literal_eval, hist.columns))
hist.columns = pd.MultiIndex.from_tuples(hist.columns)
hist

            AALR3.SA                                        ABCB4.SA         \
           Adj Close  Close   High    Low   Open    Volume Adj Close  Close
Date
2000-01-03       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-04       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-05       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-06       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-07       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
...              ...    ...    ...    ...    ...       ...       ...    ...
2021-01-08     11.03  11.03  11.12  10.23  10.28  489200.0     16.10  16.10
2021-01-11     11.14  11.14  11.23  10.80  11.09  444800.0     15.87  15.87
2021-01-12     11.08  11.08  11.18  10.92  11.14  241600.0     16.25  16.25
2021-01-13     10.97  10.97  11.21  10.89  11.12  188700.0     16.24  16.24
2021-01-14       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN

                                  ... WIZS3.SA                         \
                 High        Low  ...     High   Low  Open     Volume
Date                              ...
2000-01-03        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-04        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-05        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-06        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-07        NaN        NaN  ...      NaN   NaN   NaN        NaN
...               ...        ...  ...      ...   ...   ...        ...
2021-01-08  16.490000  15.970000  ...     8.00  7.77  7.78   722300.0
2021-01-11  16.200001  15.730000  ...     7.96  7.62  7.94  1708400.0
2021-01-12  16.379999  15.810000  ...     7.77  7.63  7.66  1253500.0
2021-01-13  16.610001  16.110001  ...     7.87  7.63  7.75  1046700.0
2021-01-14        NaN        NaN  ...      NaN   NaN   NaN        NaN

             YDUQ3.SA
            Adj Close      Close   High        Low       Open     Volume
Date
2000-01-03        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN    NaN        NaN        NaN        NaN
...               ...        ...    ...        ...        ...        ...
2021-01-08  33.930000  33.930000  33.98  33.000000  33.290001  1625800.0
2021-01-11  32.590000  32.590000  34.68  32.330002  34.669998  4600200.0
2021-01-12  34.099998  34.099998  34.18  31.740000  32.119999  6139300.0
2021-01-13  33.820000  33.820000  34.59  33.110001  34.040001  2275700.0
2021-01-14        NaN        NaN    NaN        NaN        NaN        NaN

[5293 rows x 984 columns]

In [39]:
df = hist['ABCB4.SA']
df

            Adj Close  Close       High        Low       Open     Volume
Date
2000-01-03        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-04        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-05        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-06        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-07        NaN    NaN        NaN        NaN        NaN        NaN
...               ...    ...        ...        ...        ...        ...
2021-01-08      16.10  16.10  16.490000  15.970000  16.270000  1139900.0
2021-01-11      15.87  15.87  16.200001  15.730000  16.200001  1169500.0
2021-01-12      16.25  16.25  16.379999  15.810000  15.840000   807000.0
2021-01-13      16.24  16.24  16.610001  16.110001  16.379999   736600.0
2021-01-14        NaN    NaN        NaN        NaN        NaN        NaN

[5293 rows x 6 columns]

In [40]:
df.index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2020-12-30', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', name='Date', length=5293, freq=None)

In [45]:
df.iloc[-250:]

            Adj Close      Close       High        Low       Open     Volume
Date
2020-01-14  19.735495  20.389999  20.590000  20.219999  20.590000   773500.0
2020-01-15  19.445126  20.090000  20.360001  20.090000  20.320000   856600.0
2020-01-16  19.599987  20.250000  20.440001  20.010000  20.299999  1446200.0
2020-01-17  20.867937  21.559999  21.700001  20.299999  20.309999  2520700.0
2020-01-20  21.284136  21.990000  21.990000  21.379999  21.570000  1679700.0
...               ...        ...        ...        ...        ...        ...
2021-01-08  16.100000  16.100000  16.490000  15.970000  16.270000  1139900.0
2021-01-11  15.870000  15.870000  16.200001  15.730000  16.200001  1169500.0
2021-01-12  16.250000  16.250000  16.379999  15.810000  15.840000   807000.0
2021-01-13  16.240000  16.240000  16.610001  16.110001  16.379999   736600.0
2021-01-14        NaN        NaN        NaN        NaN        NaN        NaN

[250 rows x 6 columns]

In [ ]:
data.to_sql('hist', conn)

In [ ]:
hist = pd.read_sql_table('hist', conn)

In [ ]:
conn.close()

In [ ]:
hist

In [ ]:
hist.set_index('Date')
hist.head()

In [ ]:
hist.set_index(hist.Date)
hist

In [ ]:
hist.columns

In [ ]:
hist.set_index('Date', drop=True, inplace=True)

In [ ]:
hist

In [ ]:
hist.columns

In [ ]:
from ast import literal_eval
a = literal_eval(hist.columns[1])

In [ ]:
lista_index = [i for i in hist.columns[1:5]]
lista_index

In [ ]:
nova_lista = map(literal_eval, lista_index)
list(nova_lista)

In [ ]:
list(map(literal_eval, list(hist.columns[1:])))[1]

In [ ]:
hist.columns = list(map(literal_eval, hist.columns))

In [ ]:
hist.columns = pd.MultiIndex.from_tuples(hist.columns)

In [ ]:
hist.head()

In [ ]:
hist.columns

In [ ]:
hist.iloc[-1]

In [ ]:
hist.index[-1].rstrip('00:00:00').rstrip()

In [ ]:
data2 = yf.download(acoes, start='2021-01-01')

In [ ]:
hist.index

In [ ]:
hist.index = pd.to_datetime(hist.index)

In [ ]:
hist

In [ ]:
hist.index[-1]

In [ ]:
dia = hist.index[-1]

In [ ]:
dia.day

In [ ]:
type(dia.day)

In [ ]:
#>>> pd.to_datetime([1, 2, 3], unit='D',
#...                origin=pd.Timestamp('1960-01-01'))
#DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)
str(pd.to_datetime(12, unit='Y', origin=dia))