In [1]:
import pandas as pd
import yfinance as yf

In [2]:
?pd.read_csv

In [3]:
# Lendo lista de ações a serem importadas
iBrA = pd.read_csv("./data/IBrA.csv", delimiter=';')
iBrA

    Código           Ação       Tipo  Qtde. Teórica Part. (%)
0     AALR3        ALLIAR      ON NM     46.716.473     0,019
1     ABCB4    ABC BRASIL  PN EJS N2     73.745.621     0,044
2     ABEV3     AMBEV S/A         ON  4.355.174.839     2,638
3     ALPA4    ALPARGATAS      PN N1    168.770.200     0,251
4     ALSO3  ALIANSCSONAE      ON NM    127.376.805     0,129
..      ...           ...        ...            ...       ...
159   VULC3     VULCABRAS      ON NM     74.685.291     0,022
160   VVAR3     VIAVAREJO  ON ATZ NM  1.595.083.594     0,934
161   WEGE3           WEG      ON NM    741.148.001     2,281
162   WIZS3      WIZ S.A.      ON NM     77.453.769     0,022
163   YDUQ3    YDUQS PART      ON NM    300.483.575     0,374

[164 rows x 5 columns]

In [4]:
# Alterando nome das colunas para evitar erros por acentuação
iBrA.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']

In [5]:
iBrA.head()

  Codigo       Empresa       Tipo    Qtd_Teorica   Part
0  AALR3        ALLIAR      ON NM     46.716.473  0,019
1  ABCB4    ABC BRASIL  PN EJS N2     73.745.621  0,044
2  ABEV3     AMBEV S/A         ON  4.355.174.839  2,638
3  ALPA4    ALPARGATAS      PN N1    168.770.200  0,251
4  ALSO3  ALIANSCSONAE      ON NM    127.376.805  0,129

In [6]:
iBrA.Codigo

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [7]:
iBrA.loc[:, 'Codigo']

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [8]:
iBrA.dtypes

Codigo         object
Empresa        object
Tipo           object
Qtd_Teorica    object
Part           object
dtype: object

In [10]:
# Extraindo os códigos das ações da lista e acrescentando .SA a todos os símbolos para poder fazer o download
acoes = list(iBrA.Codigo)
acoes = [i + '.SA' for i in acoes]
acoes

['AALR3.SA',
 'ABCB4.SA',
 'ABEV3.SA',
 'ALPA4.SA',
 'ALSO3.SA',
 'ALUP11.SA',
 'AMAR3.SA',
 'ANIM3.SA',
 'ARZZ3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BEEF3.SA',
 'BIDI11.SA',
 'BIDI4.SA',
 'BKBR3.SA',
 'BMGB4.SA',
 'BPAC11.SA',
 'BPAN4.SA',
 'BRAP4.SA',
 'BRDT3.SA',
 'BRFS3.SA',
 'BRKM5.SA',
 'BRML3.SA',
 'BRPR3.SA',
 'BRSR6.SA',
 'BTOW3.SA',
 'CAML3.SA',
 'CCRO3.SA',
 'CEAB3.SA',
 'CESP6.SA',
 'CIEL3.SA',
 'CMIG3.SA',
 'CMIG4.SA',
 'CNTO3.SA',
 'COGN3.SA',
 'CPFE3.SA',
 'CPLE3.SA',
 'CPLE6.SA',
 'CRFB3.SA',
 'CSAN3.SA',
 'CSMG3.SA',
 'CSNA3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'DIRR3.SA',
 'DMMO3.SA',
 'DTEX3.SA',
 'ECOR3.SA',
 'EGIE3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENAT3.SA',
 'ENBR3.SA',
 'ENEV3.SA',
 'ENGI11.SA',
 'EQTL3.SA',
 'EVEN3.SA',
 'EZTC3.SA',
 'FLRY3.SA',
 'GFSA3.SA',
 'GGBR4.SA',
 'GNDI3.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'GRND3.SA',
 'GUAR3.SA',
 'HAPV3.SA',
 'HBOR3.SA',
 'HGTX3.SA',
 'HYPE3.SA',
 'IGTA3.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB3.SA',
 'ITUB4.SA',
 'JBSS3.SA',
 'JHSF3.SA',
 'JPSA3.SA',
 'KLBN11.SA',
 'LAME3.SA',
 'LAME4.SA',
 'LCAM3.SA',
 'LEVE3.SA',
 'LIGT3.SA',
 'LINX3.SA',
 'LJQQ3.SA',
 'LOGG3.SA',
 'LOGN3.SA',
 'LPSB3.SA',
 'LREN3.SA',
 'LWSA3.SA',
 'MDIA3.SA',
 'MEAL3.SA',
 'MGLU3.SA',
 'MILS3.SA',
 'MOVI3.SA',
 'MRFG3.SA',
 'MRVE3.SA',
 'MTRE3.SA',
 'MULT3.SA',
 'MYPK3.SA',
 'NEOE3.SA',
 'NTCO3.SA',
 'ODPV3.SA',
 'OMGE3.SA',
 'PARD3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'POMO4.SA',
 'POSI3.SA',
 'PRIO3.SA',
 'PSSA3.SA',
 'PTBL3.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIL3.SA',
 'RAPT4.SA',
 'RCSL4.SA',
 'RENT3.SA',
 'RLOG3.SA',
 'ROMI3.SA',
 'SANB11.SA',
 'SAPR11.SA',
 'SAPR4.SA',
 'SBSP3.SA',
 'SEER3.SA',
 'SIMH3.SA',
 'SLCE3.SA',
 'SMLS3.SA',
 'SMTO3.SA',
 'SOMA3.SA',
 'SQIA3.SA',
 'STBP3.SA',
 'SULA11.SA',
 'SUZB3.SA',
 'TAEE11.SA',
 'TASA4.SA',
 'TCSA3.SA',
 'TEND3.SA',
 'TGMA3.SA',
 'TIET11.SA',
 'TIMS3.SA',
 'TOTS3.SA',
 'TRIS3.SA',
 'TRPL4.SA',
 'TUPY3.SA',
 'UGPA3.SA',
 'UNIP6.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VIVA3.SA',
 'VIVT3.SA',
 'VLID3.SA',
 'VULC3.SA',
 'VVAR3.SA',
 'WEGE3.SA',
 'WIZS3.SA',
 'YDUQ3.SA']

In [12]:
# Download de todoas as ações da lista
data = yf.download(acoes)

[*********************100%***********************]  164 of 164 completed

In [13]:
data

           Adj Close                                                         \
            AALR3.SA   ABCB4.SA   ABEV3.SA   ALPA4.SA   ALSO3.SA  ALUP11.SA
Date
2000-01-03       NaN        NaN        NaN        NaN        NaN        NaN
2000-01-04       NaN        NaN        NaN        NaN        NaN        NaN
2000-01-05       NaN        NaN   0.093810        NaN        NaN        NaN
2000-01-06       NaN        NaN   0.089059        NaN        NaN        NaN
2000-01-07       NaN        NaN   0.089059        NaN        NaN        NaN
...              ...        ...        ...        ...        ...        ...
2021-01-05     10.79  15.542104  15.810000  41.669998  28.170000  26.500000
2021-01-06     10.63  15.717258  16.129999  39.400002  26.670000  26.290001
2021-01-07     10.23  16.240000  16.049999  38.700001  26.190001  25.850000
2021-01-08     11.03  16.100000  16.639999  40.330002  26.969999  26.469999
2021-01-11     10.91  15.850000  16.299999  39.959999  26.040001  26.170000

                                                      ...      Volume  \
           AMAR3.SA   ANIM3.SA   ARZZ3.SA   AZUL4.SA  ...    USIM5.SA
Date                                                  ...
2000-01-03      NaN        NaN        NaN        NaN  ...    571500.0
2000-01-04      NaN        NaN        NaN        NaN  ...   1121400.0
2000-01-05      NaN        NaN        NaN        NaN  ...   1602450.0
2000-01-06      NaN        NaN        NaN        NaN  ...   3084300.0
2000-01-07      NaN        NaN        NaN        NaN  ...   2871000.0
...             ...        ...        ...        ...  ...         ...
2021-01-05     6.57  35.830002  66.959999  38.200001  ...  18302900.0
2021-01-06     6.20  35.389999  63.000000  36.669998  ...  23592900.0
2021-01-07     6.11  35.200001  62.919998  36.049999  ...  22298600.0
2021-01-08     6.22  35.270000  64.510002  36.450001  ...  19056500.0
2021-01-11     6.04  35.189999  63.220001  36.340000  ...  33069100.0

                                                                              \
              VALE3.SA   VIVA3.SA   VIVT3.SA  VLID3.SA  VULC3.SA    VVAR3.SA
Date
2000-01-03    585600.0        NaN       98.0       NaN       NaN      6990.0
2000-01-04    782400.0        NaN      228.0       NaN       NaN     16309.0
2000-01-05   1876800.0        NaN      120.0       NaN       NaN     16309.0
2000-01-06    792000.0        NaN      123.0       NaN       NaN    100963.0
2000-01-07   5347200.0        NaN      266.0       NaN       NaN       777.0
...                ...        ...        ...       ...       ...         ...
2021-01-05  34300300.0  1266200.0  2899200.0  937300.0  607800.0  41436700.0
2021-01-06  53722500.0  2011600.0  5790100.0  957400.0  524700.0  49797300.0
2021-01-07  74541400.0  1892500.0  5213500.0  611600.0  800000.0  70842700.0
2021-01-08  43879400.0   558800.0  1935100.0  596000.0  616900.0  41985600.0
2021-01-11  18259400.0   408400.0  2377200.0  369300.0  260100.0  26269000.0


              WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
2000-01-03    189280.0        NaN        NaN
2000-01-04     23660.0        NaN        NaN
2000-01-05         0.0        NaN        NaN
2000-01-06    125060.0        NaN        NaN
2000-01-07     67600.0        NaN        NaN
...                ...        ...        ...
2021-01-05   8316800.0  1391500.0  3703500.0
2021-01-06  10753700.0   804500.0  5004000.0
2021-01-07   7564800.0   656200.0  6138600.0
2021-01-08   6815100.0   722300.0  1625800.0
2021-01-11   5602400.0  1214700.0  2841900.0

[5290 rows x 984 columns]

In [14]:
type(data.columns)

pandas.core.indexes.multi.MultiIndex

In [15]:
data.columns

MultiIndex([('Adj Close',  'AALR3.SA'),
            ('Adj Close',  'ABCB4.SA'),
            ('Adj Close',  'ABEV3.SA'),
            ('Adj Close',  'ALPA4.SA'),
            ('Adj Close',  'ALSO3.SA'),
            ('Adj Close', 'ALUP11.SA'),
            ('Adj Close',  'AMAR3.SA'),
            ('Adj Close',  'ANIM3.SA'),
            ('Adj Close',  'ARZZ3.SA'),
            ('Adj Close',  'AZUL4.SA'),
            ...
            (   'Volume',  'USIM5.SA'),
            (   'Volume',  'VALE3.SA'),
            (   'Volume',  'VIVA3.SA'),
            (   'Volume',  'VIVT3.SA'),
            (   'Volume',  'VLID3.SA'),
            (   'Volume',  'VULC3.SA'),
            (   'Volume',  'VVAR3.SA'),
            (   'Volume',  'WEGE3.SA'),
            (   'Volume',  'WIZS3.SA'),
            (   'Volume',  'YDUQ3.SA')],
           length=984)

In [16]:
data.dtypes

Adj Close  AALR3.SA    float64
           ABCB4.SA    float64
           ABEV3.SA    float64
           ALPA4.SA    float64
           ALSO3.SA    float64
                        ...
Volume     VULC3.SA    float64
           VVAR3.SA    float64
           WEGE3.SA    float64
           WIZS3.SA    float64
           YDUQ3.SA    float64
Length: 984, dtype: object

In [17]:
# Reordenando os níveis de índice nas colunas
data.columns = data.columns.reorder_levels([1, 0])

In [18]:
# Ordenando as colunas em ordem alfabética
data.sort_index(axis=1, inplace=True)

In [19]:
data

            AALR3.SA                                         ABCB4.SA  \
           Adj Close  Close   High    Low   Open    Volume  Adj Close
Date
2000-01-03       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-04       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-05       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-06       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-07       NaN    NaN    NaN    NaN    NaN       NaN        NaN
...              ...    ...    ...    ...    ...       ...        ...
2021-01-05     10.79  10.79  11.05  10.68  11.00  557800.0  15.542104
2021-01-06     10.63  10.63  10.84  10.61  10.78  478500.0  15.717258
2021-01-07     10.23  10.23  10.73  10.23  10.69  474900.0  16.240000
2021-01-08     11.03  11.03  11.12  10.23  10.28  489200.0  16.100000
2021-01-11     10.91  10.91  11.23  10.86  11.09  279400.0  15.850000

                                         ... WIZS3.SA                         \
              Close       High      Low  ...     High   Low  Open     Volume
Date                                     ...
2000-01-03      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-04      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-05      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-06      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-07      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
...             ...        ...      ...  ...      ...   ...   ...        ...
2021-01-05  15.8745  16.142900  15.6359  ...     8.00  7.68  7.84  1391500.0
2021-01-06  16.0534  16.301901  15.8546  ...     7.91  7.72  7.80   804500.0
2021-01-07  16.2400  16.250000  15.8000  ...     7.90  7.74  7.80   656200.0
2021-01-08  16.1000  16.490000  15.9700  ...     8.00  7.77  7.78   722300.0
2021-01-11  15.8500  16.200001  15.7300  ...     7.96  7.70  7.94  1214700.0

             YDUQ3.SA
            Adj Close      Close       High        Low       Open     Volume
Date
2000-01-03        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2021-01-05  34.169998  34.169998  34.689999  33.099998  34.000000  3703500.0
2021-01-06  32.810001  32.810001  34.360001  32.660000  34.220001  5004000.0
2021-01-07  33.220001  33.220001  34.000000  32.200001  32.970001  6138600.0
2021-01-08  33.930000  33.930000  33.980000  33.000000  33.290001  1625800.0
2021-01-11  32.750000  32.750000  34.680000  32.560001  34.669998  2841900.0

[5290 rows x 984 columns]

In [20]:
# Salvando em um arquivo .csv
data.to_csv('./data/base_bovespa.csv')

In [21]:
# Slicing do dataframe
data.loc[:, 'ABCB4.SA':'BBSA3.SA']

             ABCB4.SA                                                     \
            Adj Close    Close       High      Low       Open     Volume
Date
2000-01-03        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-04        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-05        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-06        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-07        NaN      NaN        NaN      NaN        NaN        NaN
...               ...      ...        ...      ...        ...        ...
2021-01-05  15.542104  15.8745  16.142900  15.6359  16.142900  1177843.0
2021-01-06  15.717258  16.0534  16.301901  15.8546  15.904300   996056.0
2021-01-07  16.240000  16.2400  16.250000  15.8000  15.860000  1018500.0
2021-01-08  16.100000  16.1000  16.490000  15.9700  16.270000  1139900.0
2021-01-11  15.850000  15.8500  16.200001  15.7300  16.200001   959700.0

             ABEV3.SA                                  ...   BBDC3.SA  \
            Adj Close      Close      High        Low  ...       High
Date                                                   ...
2000-01-03        NaN        NaN       NaN        NaN  ...   2.789780
2000-01-04        NaN        NaN       NaN        NaN  ...   2.607910
2000-01-05   0.093810   0.520870   0.52087   0.520870  ...   2.607910
2000-01-06   0.089059   0.494490   0.49449   0.494490  ...   2.728070
2000-01-07   0.089059   0.494490   0.49449   0.494490  ...   2.679360
...               ...        ...       ...        ...  ...        ...
2021-01-05  15.810000  15.810000  16.02000  15.230000  ...  23.570000
2021-01-06  16.129999  16.129999  16.23000  15.630000  ...  24.459999
2021-01-07  16.049999  16.049999  16.24000  15.910000  ...  24.850000
2021-01-08  16.639999  16.639999  16.68000  16.030001  ...  25.150000
2021-01-11  16.299999  16.299999  16.59000  16.290001  ...  24.309999

                                              BBDC4.SA                        \
                  Low       Open     Volume  Adj Close      Close       High
Date
2000-01-03   2.679360   2.789780   270960.0        NaN        NaN        NaN
2000-01-04   2.461760   2.607910  1699661.0        NaN        NaN        NaN
2000-01-05   2.387060   2.461760  1477966.0        NaN        NaN        NaN
2000-01-06   2.559190   2.568930  2167684.0        NaN        NaN        NaN
2000-01-07   2.594920   2.679360  1773560.0        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2021-01-05  23.030001  23.340000  4725400.0  26.250000  26.250000  26.400000
2021-01-06  23.389999  23.520000  6161000.0  27.120001  27.120001  27.480000
2021-01-07  23.879999  24.020000  4429000.0  27.840000  27.840000  27.980000
2021-01-08  24.200001  24.830000  3636500.0  27.360001  27.360001  28.410000
2021-01-11  23.870001  24.120001  3379600.0  27.160000  27.160000  27.389999


                  Low       Open      Volume
Date
2000-01-03        NaN        NaN         NaN
2000-01-04        NaN        NaN         NaN
2000-01-05        NaN        NaN         NaN
2000-01-06        NaN        NaN         NaN
2000-01-07        NaN        NaN         NaN
...               ...        ...         ...
2021-01-05  25.680000  26.200001  38931800.0
2021-01-06  26.270000  26.290001  60592900.0
2021-01-07  26.959999  27.170000  46731900.0
2021-01-08  27.230000  28.059999  38147900.0
2021-01-11  26.850000  27.120001  21342900.0

[5290 rows x 78 columns]

In [23]:
try:
    historico = pd.read_csv('./data/base_bovespa.csv')
except FileNotFoundError:
    print('Arquivo não encontrado')

C:\Users\rafae\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
historico

,Unnamed: 0,AALR3.SA,AALR3.SA.1,AALR3.SA.2,AALR3.SA.3,AALR3.SA.4,AALR3.SA.5,ABCB4.SA,ABCB4.SA.1,ABCB4.SA.2,...,WIZS3.SA.2,WIZS3.SA.3,WIZS3.SA.4,WIZS3.SA.5,YDUQ3.SA,YDUQ3.SA.1,YDUQ3.SA.2,YDUQ3.SA.3,YDUQ3.SA.4,YDUQ3.SA.5
0,NaN,Adj Close,Close,High,Low,Open,Volume,Adj Close,Close,High,...,High,Low,Open,Volume,Adj Close,Close,High,Low,Open,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5287,2021-01-05,10.79,10.79,11.05,10.68,11,557800,15.5421,15.8745,16.1429,...,8,7.68,7.84,1.3915e+06,34.17,34.17,34.69,33.1,34,3.7035e+06
5288,2021-01-06,10.63,10.63,10.84,10.61,10.78,478500,15.7173,16.0534,16.3019,...,7.91,7.72,7.8,804500,32.81,32.81,34.36,32.66,34.22,5.004e+06
5289,2021-01-07,10.23,10.23,10.73,10.23,10.69,474900,16.24,16.24,16.25,...,7.9,7.74,7.8,656200,33.22,33.22,34,32.2,32.97,6.1386e+06
5290,2021-01-08,11.03,11.03,11.12,10.23,10.28,489200,16.1,16.1,16.49,...,8,7.77,7.78,722300,33.93,33.93,33.98,33,33.29,1.6258e+06
5291,2021-01-11,10.91,10.91,11.23,10.86,11.09,279400,15.85,15.85,16.2,...,7.96,7.7,7.94,1.2147e+06,32.75,32.75,34.68,32.56,34.67,2.8419e+06

In [69]:
historico['Unnamed: 0']

0              NaN
1             Date
2       2000-01-03
3       2000-01-04
4       2000-01-05
           ...
5287    2021-01-05
5288    2021-01-06
5289    2021-01-07
5290    2021-01-08
5291    2021-01-11
Name: Unnamed: 0, Length: 5292, dtype: object

In [25]:
historico.describe()

,Unnamed: 0,AALR3.SA,AALR3.SA.1,AALR3.SA.2,AALR3.SA.3,AALR3.SA.4,AALR3.SA.5,ABCB4.SA,ABCB4.SA.1,ABCB4.SA.2,...,WIZS3.SA.2,WIZS3.SA.3,WIZS3.SA.4,WIZS3.SA.5,YDUQ3.SA,YDUQ3.SA.1,YDUQ3.SA.2,YDUQ3.SA.3,YDUQ3.SA.4,YDUQ3.SA.5
count,5291,1043.000000,1043.0,1043.00,1043.0,1043.000000,1043.0,3282.000000,3282.00000,3282.00000,...,1391.0,1391.0,1391.00,1391.0,2123.000000,2123.00,2123.000000,2123.00,2123.0,2123.0
unique,5291,654.000000,571.0,598.00,626.0,598.000000,952.0,2295.000000,2043.00000,2133.00000,...,757.0,734.0,735.00,1302.0,1800.000000,1362.00,1499.000000,1473.00,1408.0,2045.0
top,2007-01-15,12.869462,18.0,14.95,11.9,17.040001,0.0,4.514643,7.36254,7.58342,...,8.0,10.9,11.15,0.0,32.899822,33.52,16.799999,33.52,24.0,0.0
freq,1,10.000000,12.0,9.00,10.0,7.000000,9.0,15.000000,17.00000,12.00000,...,11.0,10.0,10.00,11.0,8.000000,10.00,10.000000,6.00,9.0,28.0

In [30]:
import sqlite3
conn = sqlite3.connect("./data/historico_bovespa.db")

In [32]:
data.to_sql('hist', conn)

C:\Users\rafae\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [38]:
?pd.read_sql_table

In [39]:
hist = pd.read_sql_table('hist', conn)

NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [42]:
conn.close()

In [40]:
import sqlalchemy

In [41]:
sqlalchemy.__version__

'1.3.9'

In [44]:
conn = sqlite3.connect("./data/historico_bovespa.db")

In [126]:
hist = pd.read_sql_query("SELECT * FROM HIST", conn)

In [127]:
hist

,Date,"('AALR3.SA', 'Adj Close')","('AALR3.SA', 'Close')","('AALR3.SA', 'High')","('AALR3.SA', 'Low')","('AALR3.SA', 'Open')","('AALR3.SA', 'Volume')","('ABCB4.SA', 'Adj Close')","('ABCB4.SA', 'Close')","('ABCB4.SA', 'High')",...,"('WIZS3.SA', 'High')","('WIZS3.SA', 'Low')","('WIZS3.SA', 'Open')","('WIZS3.SA', 'Volume')","('YDUQ3.SA', 'Adj Close')","('YDUQ3.SA', 'Close')","('YDUQ3.SA', 'High')","('YDUQ3.SA', 'Low')","('YDUQ3.SA', 'Open')","('YDUQ3.SA', 'Volume')"
0,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5279,2020-12-22 00:00:00,10.92,10.92,11.33,10.86,11.33,462500.0,15.018796,15.34,15.44,...,8.62,8.16,8.58,1739100.0,32.200001,32.200001,33.049999,31.850000,32.770000,2041500.0
5280,2020-12-23 00:00:00,11.05,11.05,11.13,10.76,10.87,471500.0,15.126493,15.45,15.49,...,8.26,7.44,8.26,6597300.0,32.910000,32.910000,33.939999,32.590000,32.750000,2235900.0
5281,2020-12-28 00:00:00,11.01,11.01,11.13,10.82,11.05,516700.0,15.527907,15.86,15.90,...,8.06,7.87,7.99,1220300.0,33.080002,33.080002,33.400002,32.279999,33.299999,1367200.0
5282,2020-12-29 00:00:00,11.09,11.09,11.17,10.90,11.06,387400.0,15.478955,15.81,15.98,...,8.01,7.90,7.93,1107300.0,33.259998,33.259998,34.189999,32.860001,33.200001,2403200.0
5283,2020-12-30 00:00:00,11.10,11.10,11.17,11.00,11.03,328300.0,15.341887,15.67,15.88,...,8.14,7.93,7.96,1140200.0,32.919998,32.919998,33.599998,32.759998,33.270000,2816800.0

In [128]:
hist.set_index('Date')
hist.head()

,Date,"('AALR3.SA', 'Adj Close')","('AALR3.SA', 'Close')","('AALR3.SA', 'High')","('AALR3.SA', 'Low')","('AALR3.SA', 'Open')","('AALR3.SA', 'Volume')","('ABCB4.SA', 'Adj Close')","('ABCB4.SA', 'Close')","('ABCB4.SA', 'High')",...,"('WIZS3.SA', 'High')","('WIZS3.SA', 'Low')","('WIZS3.SA', 'Open')","('WIZS3.SA', 'Volume')","('YDUQ3.SA', 'Adj Close')","('YDUQ3.SA', 'Close')","('YDUQ3.SA', 'High')","('YDUQ3.SA', 'Low')","('YDUQ3.SA', 'Open')","('YDUQ3.SA', 'Volume')"
0,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
hist.set_index(hist.Date)
hist

,Date,"('AALR3.SA', 'Adj Close')","('AALR3.SA', 'Close')","('AALR3.SA', 'High')","('AALR3.SA', 'Low')","('AALR3.SA', 'Open')","('AALR3.SA', 'Volume')","('ABCB4.SA', 'Adj Close')","('ABCB4.SA', 'Close')","('ABCB4.SA', 'High')",...,"('WIZS3.SA', 'High')","('WIZS3.SA', 'Low')","('WIZS3.SA', 'Open')","('WIZS3.SA', 'Volume')","('YDUQ3.SA', 'Adj Close')","('YDUQ3.SA', 'Close')","('YDUQ3.SA', 'High')","('YDUQ3.SA', 'Low')","('YDUQ3.SA', 'Open')","('YDUQ3.SA', 'Volume')"
0,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5279,2020-12-22 00:00:00,10.92,10.92,11.33,10.86,11.33,462500.0,15.018796,15.34,15.44,...,8.62,8.16,8.58,1739100.0,32.200001,32.200001,33.049999,31.850000,32.770000,2041500.0
5280,2020-12-23 00:00:00,11.05,11.05,11.13,10.76,10.87,471500.0,15.126493,15.45,15.49,...,8.26,7.44,8.26,6597300.0,32.910000,32.910000,33.939999,32.590000,32.750000,2235900.0
5281,2020-12-28 00:00:00,11.01,11.01,11.13,10.82,11.05,516700.0,15.527907,15.86,15.90,...,8.06,7.87,7.99,1220300.0,33.080002,33.080002,33.400002,32.279999,33.299999,1367200.0
5282,2020-12-29 00:00:00,11.09,11.09,11.17,10.90,11.06,387400.0,15.478955,15.81,15.98,...,8.01,7.90,7.93,1107300.0,33.259998,33.259998,34.189999,32.860001,33.200001,2403200.0
5283,2020-12-30 00:00:00,11.10,11.10,11.17,11.00,11.03,328300.0,15.341887,15.67,15.88,...,8.14,7.93,7.96,1140200.0,32.919998,32.919998,33.599998,32.759998,33.270000,2816800.0

In [130]:
hist.columns

Index(['Date', '('AALR3.SA', 'Adj Close')', '('AALR3.SA', 'Close')',
       '('AALR3.SA', 'High')', '('AALR3.SA', 'Low')', '('AALR3.SA', 'Open')',
       '('AALR3.SA', 'Volume')', '('ABCB4.SA', 'Adj Close')',
       '('ABCB4.SA', 'Close')', '('ABCB4.SA', 'High')',
       ...
       '('WIZS3.SA', 'High')', '('WIZS3.SA', 'Low')', '('WIZS3.SA', 'Open')',
       '('WIZS3.SA', 'Volume')', '('YDUQ3.SA', 'Adj Close')',
       '('YDUQ3.SA', 'Close')', '('YDUQ3.SA', 'High')', '('YDUQ3.SA', 'Low')',
       '('YDUQ3.SA', 'Open')', '('YDUQ3.SA', 'Volume')'],
      dtype='object', length=985)

In [131]:
hist.set_index('Date', drop=True, inplace=True)

In [132]:
hist

,"('AALR3.SA', 'Adj Close')","('AALR3.SA', 'Close')","('AALR3.SA', 'High')","('AALR3.SA', 'Low')","('AALR3.SA', 'Open')","('AALR3.SA', 'Volume')","('ABCB4.SA', 'Adj Close')","('ABCB4.SA', 'Close')","('ABCB4.SA', 'High')","('ABCB4.SA', 'Low')",...,"('WIZS3.SA', 'High')","('WIZS3.SA', 'Low')","('WIZS3.SA', 'Open')","('WIZS3.SA', 'Volume')","('YDUQ3.SA', 'Adj Close')","('YDUQ3.SA', 'Close')","('YDUQ3.SA', 'High')","('YDUQ3.SA', 'Low')","('YDUQ3.SA', 'Open')","('YDUQ3.SA', 'Volume')"
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-22 00:00:00,10.92,10.92,11.33,10.86,11.33,462500.0,15.018796,15.34,15.44,15.15,...,8.62,8.16,8.58,1739100.0,32.200001,32.200001,33.049999,31.850000,32.770000,2041500.0
2020-12-23 00:00:00,11.05,11.05,11.13,10.76,10.87,471500.0,15.126493,15.45,15.49,15.24,...,8.26,7.44,8.26,6597300.0,32.910000,32.910000,33.939999,32.590000,32.750000,2235900.0
2020-12-28 00:00:00,11.01,11.01,11.13,10.82,11.05,516700.0,15.527907,15.86,15.90,15.48,...,8.06,7.87,7.99,1220300.0,33.080002,33.080002,33.400002,32.279999,33.299999,1367200.0
2020-12-29 00:00:00,11.09,11.09,11.17,10.90,11.06,387400.0,15.478955,15.81,15.98,15.65,...,8.01,7.90,7.93,1107300.0,33.259998,33.259998,34.189999,32.860001,33.200001,2403200.0
2020-12-30 00:00:00,11.10,11.10,11.17,11.00,11.03,328300.0,15.341887,15.67,15.88,15.51,...,8.14,7.93,7.96,1140200.0,32.919998,32.919998,33.599998,32.759998,33.270000,2816800.0

In [133]:
hist.columns

Index(['('AALR3.SA', 'Adj Close')', '('AALR3.SA', 'Close')',
       '('AALR3.SA', 'High')', '('AALR3.SA', 'Low')', '('AALR3.SA', 'Open')',
       '('AALR3.SA', 'Volume')', '('ABCB4.SA', 'Adj Close')',
       '('ABCB4.SA', 'Close')', '('ABCB4.SA', 'High')', '('ABCB4.SA', 'Low')',
       ...
       '('WIZS3.SA', 'High')', '('WIZS3.SA', 'Low')', '('WIZS3.SA', 'Open')',
       '('WIZS3.SA', 'Volume')', '('YDUQ3.SA', 'Adj Close')',
       '('YDUQ3.SA', 'Close')', '('YDUQ3.SA', 'High')', '('YDUQ3.SA', 'Low')',
       '('YDUQ3.SA', 'Open')', '('YDUQ3.SA', 'Volume')'],
      dtype='object', length=984)

In [134]:
from ast import literal_eval
a = literal_eval(hist.columns[1])

In [135]:
lista_index = [i for i in hist.columns[1:5]]
lista_index

["('AALR3.SA', 'Close')",
 "('AALR3.SA', 'High')",
 "('AALR3.SA', 'Low')",
 "('AALR3.SA', 'Open')"]

In [136]:
nova_lista = map(literal_eval, lista_index)
list(nova_lista)

[('AALR3.SA', 'Close'),
 ('AALR3.SA', 'High'),
 ('AALR3.SA', 'Low'),
 ('AALR3.SA', 'Open')]

In [137]:
list(map(literal_eval, list(hist.columns[1:])))[1]

('AALR3.SA', 'High')

In [138]:
hist.columns = list(map(literal_eval, hist.columns))

In [139]:
hist.columns = pd.MultiIndex.from_tuples(hist.columns)

In [140]:
hist.head()

                     AALR3.SA                             ABCB4.SA             \
                    Adj Close Close High Low Open Volume Adj Close Close High
Date
2000-01-03 00:00:00       NaN   NaN  NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-04 00:00:00       NaN   NaN  NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-05 00:00:00       NaN   NaN  NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-06 00:00:00       NaN   NaN  NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-07 00:00:00       NaN   NaN  NaN NaN  NaN    NaN       NaN   NaN  NaN

                         ... WIZS3.SA                  YDUQ3.SA             \
                    Low  ...     High Low Open Volume Adj Close Close High
Date                     ...
2000-01-03 00:00:00 NaN  ...      NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-04 00:00:00 NaN  ...      NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-05 00:00:00 NaN  ...      NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-06 00:00:00 NaN  ...      NaN NaN  NaN    NaN       NaN   NaN  NaN
2000-01-07 00:00:00 NaN  ...      NaN NaN  NaN    NaN       NaN   NaN  NaN


                    Low Open Volume
Date
2000-01-03 00:00:00 NaN  NaN    NaN
2000-01-04 00:00:00 NaN  NaN    NaN
2000-01-05 00:00:00 NaN  NaN    NaN
2000-01-06 00:00:00 NaN  NaN    NaN
2000-01-07 00:00:00 NaN  NaN    NaN

[5 rows x 984 columns]

In [141]:
hist.columns

MultiIndex([('AALR3.SA', 'Adj Close'),
            ('AALR3.SA',     'Close'),
            ('AALR3.SA',      'High'),
            ('AALR3.SA',       'Low'),
            ('AALR3.SA',      'Open'),
            ('AALR3.SA',    'Volume'),
            ('ABCB4.SA', 'Adj Close'),
            ('ABCB4.SA',     'Close'),
            ('ABCB4.SA',      'High'),
            ('ABCB4.SA',       'Low'),
            ...
            ('WIZS3.SA',      'High'),
            ('WIZS3.SA',       'Low'),
            ('WIZS3.SA',      'Open'),
            ('WIZS3.SA',    'Volume'),
            ('YDUQ3.SA', 'Adj Close'),
            ('YDUQ3.SA',     'Close'),
            ('YDUQ3.SA',      'High'),
            ('YDUQ3.SA',       'Low'),
            ('YDUQ3.SA',      'Open'),
            ('YDUQ3.SA',    'Volume')],
           length=984)

In [142]:
hist.iloc[-1]

AALR3.SA  Adj Close    1.110000e+01
          Close        1.110000e+01
          High         1.117000e+01
          Low          1.100000e+01
          Open         1.103000e+01
                           ...
YDUQ3.SA  Close        3.292000e+01
          High         3.360000e+01
          Low          3.276000e+01
          Open         3.327000e+01
          Volume       2.816800e+06
Name: 2020-12-30 00:00:00, Length: 984, dtype: float64

In [161]:
hist.index[-1].rstrip('00:00:00').rstrip()

'2020-12-30'

In [156]:
data2 = yf.download(acoes, start='2021-01-01')

[*********************100%***********************]  164 of 164 completed

In [162]:
hist.index

Index(['2000-01-03 00:00:00', '2000-01-04 00:00:00', '2000-01-05 00:00:00',
       '2000-01-06 00:00:00', '2000-01-07 00:00:00', '2000-01-10 00:00:00',
       '2000-01-11 00:00:00', '2000-01-12 00:00:00', '2000-01-13 00:00:00',
       '2000-01-14 00:00:00',
       ...
       '2020-12-15 00:00:00', '2020-12-16 00:00:00', '2020-12-17 00:00:00',
       '2020-12-18 00:00:00', '2020-12-21 00:00:00', '2020-12-22 00:00:00',
       '2020-12-23 00:00:00', '2020-12-28 00:00:00', '2020-12-29 00:00:00',
       '2020-12-30 00:00:00'],
      dtype='object', name='Date', length=5284)

In [163]:
hist.index = pd.to_datetime(hist.index)

In [164]:
hist

            AALR3.SA                                         ABCB4.SA         \
           Adj Close  Close   High    Low   Open    Volume  Adj Close  Close
Date
2000-01-03       NaN    NaN    NaN    NaN    NaN       NaN        NaN    NaN
2000-01-04       NaN    NaN    NaN    NaN    NaN       NaN        NaN    NaN
2000-01-05       NaN    NaN    NaN    NaN    NaN       NaN        NaN    NaN
2000-01-06       NaN    NaN    NaN    NaN    NaN       NaN        NaN    NaN
2000-01-07       NaN    NaN    NaN    NaN    NaN       NaN        NaN    NaN
...              ...    ...    ...    ...    ...       ...        ...    ...
2020-12-22     10.92  10.92  11.33  10.86  11.33  462500.0  15.018796  15.34
2020-12-23     11.05  11.05  11.13  10.76  10.87  471500.0  15.126493  15.45
2020-12-28     11.01  11.01  11.13  10.82  11.05  516700.0  15.527907  15.86
2020-12-29     11.09  11.09  11.17  10.90  11.06  387400.0  15.478955  15.81
2020-12-30     11.10  11.10  11.17  11.00  11.03  328300.0  15.341887  15.67

                          ... WIZS3.SA                          YDUQ3.SA  \
             High    Low  ...     High   Low  Open     Volume  Adj Close
Date                      ...
2000-01-03    NaN    NaN  ...      NaN   NaN   NaN        NaN        NaN
2000-01-04    NaN    NaN  ...      NaN   NaN   NaN        NaN        NaN
2000-01-05    NaN    NaN  ...      NaN   NaN   NaN        NaN        NaN
2000-01-06    NaN    NaN  ...      NaN   NaN   NaN        NaN        NaN
2000-01-07    NaN    NaN  ...      NaN   NaN   NaN        NaN        NaN
...           ...    ...  ...      ...   ...   ...        ...        ...
2020-12-22  15.44  15.15  ...     8.62  8.16  8.58  1739100.0  32.200001
2020-12-23  15.49  15.24  ...     8.26  7.44  8.26  6597300.0  32.910000
2020-12-28  15.90  15.48  ...     8.06  7.87  7.99  1220300.0  33.080002
2020-12-29  15.98  15.65  ...     8.01  7.90  7.93  1107300.0  33.259998
2020-12-30  15.88  15.51  ...     8.14  7.93  7.96  1140200.0  32.919998


                Close       High        Low       Open     Volume
Date
2000-01-03        NaN        NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...
2020-12-22  32.200001  33.049999  31.850000  32.770000  2041500.0
2020-12-23  32.910000  33.939999  32.590000  32.750000  2235900.0
2020-12-28  33.080002  33.400002  32.279999  33.299999  1367200.0
2020-12-29  33.259998  34.189999  32.860001  33.200001  2403200.0
2020-12-30  32.919998  33.599998  32.759998  33.270000  2816800.0

[5284 rows x 984 columns]

In [165]:
hist.index[-1]

Timestamp('2020-12-30 00:00:00')

In [170]:
dia = hist.index[-1]

In [171]:
dia.day

30

In [172]:
type(dia.day)

int

In [187]:
#>>> pd.to_datetime([1, 2, 3], unit='D',
#...                origin=pd.Timestamp('1960-01-01'))
#DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)
str(pd.to_datetime(12, unit='Y', origin=dia))

'2032-01-01 00:50:24'