In [136]:
import numpy as np

In [1]:
import sqlite3

In [1]:
import pandas as pd
import yfinance as yf

In [4]:
codigos = pd.read_csv('./data/acoes.csv', names=['Codigo'])
acoes = list(codigos.Codigo)

In [17]:
today = pd.datetime.today()
ontem = pd.to_datetime(-1, unit='D', origin=today)
today = str(today)[0:10]
ontem = str(ontem)[0:10]+' 23:59:59'

In [18]:
ontem

'2021-01-19 23:59:59'

In [19]:
df1 = yf.download(acoes, end=today)
df1

[*********************100%***********************]  168 of 168 completed

           Adj Close                                                          \
            AALR3.SA        AAPL   ABCB4.SA   ABEV3.SA   ALPA4.SA   ALSO3.SA
Date
1980-12-12       NaN    0.101087        NaN        NaN        NaN        NaN
1980-12-15       NaN    0.095813        NaN        NaN        NaN        NaN
1980-12-16       NaN    0.088780        NaN        NaN        NaN        NaN
1980-12-17       NaN    0.090978        NaN        NaN        NaN        NaN
1980-12-18       NaN    0.093615        NaN        NaN        NaN        NaN
...              ...         ...        ...        ...        ...        ...
2021-01-13     11.00  130.889999  15.950000  16.093300  39.939999  26.010000
2021-01-14     11.65  128.910004  16.520000  16.260000  41.099998  27.120001
2021-01-15     11.42  127.139999  16.290001  16.080000  41.380001  27.170000
2021-01-18     11.44         NaN  16.170000  16.219999  42.220001  27.389999
2021-01-19     11.34  127.830002  15.900000  16.270000  42.000000  26.760000

                                                      ...      Volume  \
            ALUP11.SA AMAR3.SA   ANIM3.SA   ARZZ3.SA  ...    USIM5.SA
Date                                                  ...
1980-12-12        NaN      NaN        NaN        NaN  ...         NaN
1980-12-15        NaN      NaN        NaN        NaN  ...         NaN
1980-12-16        NaN      NaN        NaN        NaN  ...         NaN
1980-12-17        NaN      NaN        NaN        NaN  ...         NaN
1980-12-18        NaN      NaN        NaN        NaN  ...         NaN
...               ...      ...        ...        ...  ...         ...
2021-01-13  26.719999     5.99  36.090000  63.799999  ...  31890300.0
2021-01-14  27.100000     6.20  36.540001  66.209999  ...  20884100.0
2021-01-15  27.570000     6.10  36.509998  67.620003  ...  14038100.0
2021-01-18  27.240000     6.15  36.700001  68.709999  ...  11844100.0
2021-01-19  26.889999     6.14  37.650002  70.250000  ...  22475700.0

                                                                              \
              VALE3.SA  VIVA3.SA   VIVT3.SA   VLID3.SA  VULC3.SA    VVAR3.SA
Date
1980-12-12         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-15         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-16         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-17         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-18         NaN       NaN        NaN        NaN       NaN         NaN
...                ...       ...        ...        ...       ...         ...
2021-01-13  31658800.0  550500.0  2977700.0  1601400.0  550700.0  40716600.0
2021-01-14  20809900.0  755300.0  2284300.0   890000.0  822200.0  41191200.0
2021-01-15  20161700.0  695000.0  1525800.0   474600.0  395400.0  28881400.0
2021-01-18  22667600.0  558300.0  1948800.0   605400.0  847000.0  44490700.0
2021-01-19  27155400.0  197800.0  2360000.0  1293900.0  508300.0  29221200.0


             WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
1980-12-12        NaN        NaN        NaN
1980-12-15        NaN        NaN        NaN
1980-12-16        NaN        NaN        NaN
1980-12-17        NaN        NaN        NaN
1980-12-18        NaN        NaN        NaN
...               ...        ...        ...
2021-01-13  6891400.0  1046700.0  3268900.0
2021-01-14  4238500.0  1412800.0  5883600.0
2021-01-15  4540600.0   713900.0  2614800.0
2021-01-18  7398700.0  1439700.0  2418900.0
2021-01-19  6894300.0   967200.0  1667300.0

[10262 rows x 1008 columns]

In [22]:
ontem = pd.to_datetime(ontem)

In [23]:
df2 = yf.download(acoes, end=ontem)

[*********************100%***********************]  168 of 168 completed

In [24]:
df2

           Adj Close                                                          \
            AALR3.SA        AAPL   ABCB4.SA   ABEV3.SA   ALPA4.SA   ALSO3.SA
Date
1980-12-12       NaN    0.101087        NaN        NaN        NaN        NaN
1980-12-15       NaN    0.095813        NaN        NaN        NaN        NaN
1980-12-16       NaN    0.088780        NaN        NaN        NaN        NaN
1980-12-17       NaN    0.090978        NaN        NaN        NaN        NaN
1980-12-18       NaN    0.093615        NaN        NaN        NaN        NaN
...              ...         ...        ...        ...        ...        ...
2021-01-13     11.00  130.889999  15.950000  16.093300  39.939999  26.010000
2021-01-14     11.65  128.910004  16.520000  16.260000  41.099998  27.120001
2021-01-15     11.42  127.139999  16.290001  16.080000  41.380001  27.170000
2021-01-18     11.44         NaN  16.170000  16.219999  42.220001  27.389999
2021-01-19     11.34  127.830002  15.900000  16.270000  42.000000  26.760000

                                                      ...      Volume  \
            ALUP11.SA AMAR3.SA   ANIM3.SA   ARZZ3.SA  ...    USIM5.SA
Date                                                  ...
1980-12-12        NaN      NaN        NaN        NaN  ...         NaN
1980-12-15        NaN      NaN        NaN        NaN  ...         NaN
1980-12-16        NaN      NaN        NaN        NaN  ...         NaN
1980-12-17        NaN      NaN        NaN        NaN  ...         NaN
1980-12-18        NaN      NaN        NaN        NaN  ...         NaN
...               ...      ...        ...        ...  ...         ...
2021-01-13  26.719999     5.99  36.090000  63.799999  ...  31890300.0
2021-01-14  27.100000     6.20  36.540001  66.209999  ...  20884100.0
2021-01-15  27.570000     6.10  36.509998  67.620003  ...  14038100.0
2021-01-18  27.240000     6.15  36.700001  68.709999  ...  11844100.0
2021-01-19  26.889999     6.14  37.650002  70.250000  ...  22475700.0

                                                                              \
              VALE3.SA  VIVA3.SA   VIVT3.SA   VLID3.SA  VULC3.SA    VVAR3.SA
Date
1980-12-12         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-15         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-16         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-17         NaN       NaN        NaN        NaN       NaN         NaN
1980-12-18         NaN       NaN        NaN        NaN       NaN         NaN
...                ...       ...        ...        ...       ...         ...
2021-01-13  31658800.0  550500.0  2977700.0  1601400.0  550700.0  40716600.0
2021-01-14  20809900.0  755300.0  2284300.0   890000.0  822200.0  41191200.0
2021-01-15  20161700.0  695000.0  1525800.0   474600.0  395400.0  28881400.0
2021-01-18  22667600.0  558300.0  1948800.0   605400.0  847000.0  44490700.0
2021-01-19  27155400.0  197800.0  2360000.0  1293900.0  508300.0  29221200.0


             WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
1980-12-12        NaN        NaN        NaN
1980-12-15        NaN        NaN        NaN
1980-12-16        NaN        NaN        NaN
1980-12-17        NaN        NaN        NaN
1980-12-18        NaN        NaN        NaN
...               ...        ...        ...
2021-01-13  6891400.0  1046700.0  3268900.0
2021-01-14  4238500.0  1412800.0  5883600.0
2021-01-15  4540600.0   713900.0  2614800.0
2021-01-18  7398700.0  1439700.0  2418900.0
2021-01-19  6894300.0   967200.0  1667300.0

[10262 rows x 1008 columns]

In [32]:
# Variáveis globais utilizadas em várias funções
today = pd.datetime.today()
ontem = pd.to_datetime(-1, unit='D', origin=today)
ontem = str(ontem)[0:10]+' 23:59:59'
ontem = pd.to_datetime(ontem)
data_zero = pd.to_datetime('1900-01-01')

In [39]:
def download_dados(inicio=None):
    acoes = ['PETR3.SA', 'ABEV3.SA', 'AAPL', 'MSFT']
    print(f'Baixando dados até {ontem}.')
    print('Download de dados do Yahoo Finance:')
    df = yf.download(acoes, start=inicio, end=ontem)
    print('Download de dados concluído com sucesso.')
    # Reordenando os níveis de índice nas colunas
    df.columns = df.columns.reorder_levels([1, 0])
    # Ordenando as colunas em ordem alfabética
    df.sort_index(axis=1, inplace=True)
    return df

In [40]:
base = download_dados()

Baixando dados até 2021-01-19 23:59:59.
Download de dados do Yahoo Finance:
[*********************100%***********************]  4 of 4 completed
Download de dados concluído com sucesso.

In [30]:
base

                  AAPL                                                  \
             Adj Close       Close        High         Low        Open
Date
1980-12-12    0.101087    0.128348    0.128906    0.128348    0.128348
1980-12-15    0.095813    0.121652    0.122210    0.121652    0.122210
1980-12-16    0.088780    0.112723    0.113281    0.112723    0.113281
1980-12-17    0.090978    0.115513    0.116071    0.115513    0.115513
1980-12-18    0.093615    0.118862    0.119420    0.118862    0.118862
...                ...         ...         ...         ...         ...
2021-01-13  130.889999  130.889999  131.449997  128.490005  128.759995
2021-01-14  128.910004  128.910004  131.000000  128.759995  130.800003
2021-01-15  127.139999  127.139999  130.220001  127.000000  128.779999
2021-01-18         NaN         NaN         NaN         NaN         NaN
2021-01-19  127.830002  127.830002  128.710007  126.940002  127.779999

                          ABEV3.SA                                   ...  \
                 Volume  Adj Close      Close       High        Low  ...
Date                                                                 ...
1980-12-12  469033600.0        NaN        NaN        NaN        NaN  ...
1980-12-15  175884800.0        NaN        NaN        NaN        NaN  ...
1980-12-16  105728000.0        NaN        NaN        NaN        NaN  ...
1980-12-17   86441600.0        NaN        NaN        NaN        NaN  ...
1980-12-18   73449600.0        NaN        NaN        NaN        NaN  ...
...                 ...        ...        ...        ...        ...  ...
2021-01-13   88636800.0  16.093300  16.170000  16.620001  15.980000  ...
2021-01-14   90221800.0  16.260000  16.260000  16.430000  16.049999  ...
2021-01-15  111598500.0  16.080000  16.080000  16.270000  16.000000  ...
2021-01-18          NaN  16.219999  16.219999  16.480000  16.020000  ...
2021-01-19   90296400.0  16.270000  16.270000  16.340000  15.980000  ...

                  MSFT                                       PETR3.SA  \
                  High         Low        Open      Volume  Adj Close
Date
1980-12-12         NaN         NaN         NaN         NaN        NaN
1980-12-15         NaN         NaN         NaN         NaN        NaN
1980-12-16         NaN         NaN         NaN         NaN        NaN
1980-12-17         NaN         NaN         NaN         NaN        NaN
1980-12-18         NaN         NaN         NaN         NaN        NaN
...                ...         ...         ...         ...        ...
2021-01-13  216.759995  213.929993  214.020004  20087100.0  29.740000
2021-01-14  217.460007  212.740005  215.910004  29480800.0  29.860001
2021-01-15  214.509995  212.029999  213.520004  31746500.0  28.920000
2021-01-18         NaN         NaN         NaN         NaN  28.760000
2021-01-19  216.979996  212.630005  213.750000  30310500.0  29.120001


                Close       High        Low       Open      Volume
Date
1980-12-12        NaN        NaN        NaN        NaN         NaN
1980-12-15        NaN        NaN        NaN        NaN         NaN
1980-12-16        NaN        NaN        NaN        NaN         NaN
1980-12-17        NaN        NaN        NaN        NaN         NaN
1980-12-18        NaN        NaN        NaN        NaN         NaN
...               ...        ...        ...        ...         ...
2021-01-13  29.740000  31.280001  29.490000  31.170000  23270300.0
2021-01-14  29.860001  30.040001  29.280001  29.770000  16531800.0
2021-01-15  28.920000  29.520000  28.650000  29.480000  11751900.0
2021-01-18  28.760000  29.480000  28.750000  28.889999  10070500.0
2021-01-19  29.120001  29.240000  28.389999  29.180000  11002100.0

[10261 rows x 24 columns]

In [181]:
df = pd.read_csv('./data/IBrA.csv', delimiter=';')

In [182]:
df

    Código           Ação       Tipo  Qtde. Teórica Part. (%)
0     AALR3        ALLIAR      ON NM     46.716.473     0,019
1     ABCB4    ABC BRASIL  PN EJS N2     73.745.621     0,044
2     ABEV3     AMBEV S/A         ON  4.355.174.839     2,638
3     ALPA4    ALPARGATAS      PN N1    168.770.200     0,251
4     ALSO3  ALIANSCSONAE      ON NM    127.376.805     0,129
..      ...           ...        ...            ...       ...
159   VULC3     VULCABRAS      ON NM     74.685.291     0,022
160   VVAR3     VIAVAREJO  ON ATZ NM  1.595.083.594     0,934
161   WEGE3           WEG      ON NM    741.148.001     2,281
162   WIZS3      WIZ S.A.      ON NM     77.453.769     0,022
163   YDUQ3    YDUQS PART      ON NM    300.483.575     0,374

[164 rows x 5 columns]

In [183]:
df.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']
acoes = df.Codigo
acoes

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [187]:
codigos = pd.read_csv('./data/acoes.csv', names=['Codigo'])
acoes = codigos.Codigo
acoes = [i + '.SA' for i in acoes]
acoes = pd.Series(acoes)
acoes.to_csv('./data/acoes.csv', header=False, index=False)

In [194]:
a = None
if(type(codigos) == pd.core.frame.DataFrame):
    print('Posso fazer esta comparação')

Posso fazer esta comparação

In [185]:
acoes.to_csv('./data/acoes.csv', index=False, header=False)

In [116]:
today = pd.datetime.today()
today = str(today)[0:10]

In [195]:
?yf.download

In [196]:
today = pd.datetime.today()
today = str(today)[0:10]
inicio = '1900-01-01'
pd.to_datetime(inicio) < pd.to_datetime(today)

True

In [119]:
new_data = yf.download('AAPL', start='2000-01-01', end=today)

[*********************100%***********************]  1 of 1 completed

In [120]:
msft

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1986-03-13,0.088542,0.101562,0.088542,0.097222,0.061893,1031788800
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.064103,308160000
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.065209,133171200
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.063551,67766400
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.062446,47894400
...,...,...,...,...,...,...
2021-01-12,216.500000,217.100006,213.320007,214.929993,214.929993,23249300
2021-01-13,214.020004,216.759995,213.929993,216.339996,216.339996,20087100
2021-01-14,215.910004,217.460007,212.740005,213.020004,213.020004,29480800
2021-01-15,213.520004,214.509995,212.029999,212.649994,212.649994,31746500
2021-01-19,213.750000,216.072098,212.630005,215.940002,215.940002,14431074

In [170]:
ticker = 'MSFT'
new_data = yf.download(ticker, start='2000-01-01', end=today)
new_data.columns

[*********************100%***********************]  1 of 1 completed

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [171]:
new_data.columns[0]

'Open'

In [172]:
lista = list(new_data.columns)

In [173]:
lista = [f'("{ticker}", "'+ i +'")' for i in lista]

In [174]:
lista

['("MSFT", "Open")',
 '("MSFT", "High")',
 '("MSFT", "Low")',
 '("MSFT", "Close")',
 '("MSFT", "Adj Close")',
 '("MSFT", "Volume")']

In [178]:
literal_eval(lista[0])

('MSFT', 'Open')

In [179]:
?new_data.to_csv

In [164]:
new_data.columns = pd.MultiIndex.from_tuples(new_data.columns)

TypeError: Expected tuple, got str

In [126]:
from ast import literal_eval
type(literal_eval("(2, 5, 6)"))

tuple

In [86]:
tickers = pd.read_csv('./data/acoes.csv', names=['Codigo']).Codigo
tickers

NaN         0
0.0         0
1.0         0
2.0         0
3.0         0
         ...
167.0     163
168.0    AAPL
169.0    AAPL
170.0    APPL
171.0    AAPL
Name: Codigo, Length: 173, dtype: object

In [64]:
tickers = tickers.append(pd.Series('AAPL'), ignore_index=True)

In [70]:
tickers.to_csv('./data/acoes.csv')

C:\Users\rafae\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [50]:
tickers = pd.read_csv('./data/acoes.csv', names=['Codigo'])
tickers

       Codigo
0    AALR3.SA
1    ABCB4.SA
2    ABEV3.SA
3    ALPA4.SA
4    ALSO3.SA
..        ...
159  VULC3.SA
160  VVAR3.SA
161  WEGE3.SA
162  WIZS3.SA
163  YDUQ3.SA

[164 rows x 1 columns]

In [54]:
type(list(tickers.Codigo))

list

In [56]:
a = pd.to_datetime('2021-01-20')
b = pd.to_datetime('2021-01-19')

In [57]:
a > b

True

In [55]:
?pd.to_datetime

In [5]:
t = pd.datetime.today()

In [25]:
str(t)[0:10]

'2021-01-14'

In [26]:
str(pd.datetime.today())[0:10]

'2021-01-14'

In [27]:
pd.to_datetime(-1, unit='D', origin=t)

Timestamp('2021-01-13 00:00:00')

In [28]:
t

datetime.datetime(2021, 1, 14, 8, 36, 23, 456910)

In [16]:
hoje = '2021-01-14 08:24:33'

In [ ]:
# Testando a existência de um arquivo
f = open("./data/historico_bovespa.db")

In [ ]:
f.close()

In [ ]:
# Lendo lista de ações a serem importadas
iBrA = pd.read_csv("./data/IBrA.csv", delimiter=';')
iBrA

In [ ]:
# Alterando nome das colunas para evitar erros por acentuação
iBrA.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']

In [ ]:
iBrA.head()

In [ ]:
iBrA.Codigo

In [ ]:
iBrA.loc[:, 'Codigo']

In [ ]:
iBrA.dtypes

In [ ]:
# Extraindo os códigos das ações da lista e acrescentando .SA a todos os símbolos para poder fazer o download
acoes = list(iBrA.Codigo)
acoes = [i + '.SA' for i in acoes]
acoes

In [ ]:
# Download de todoas as ações da lista
data = yf.download(acoes)

In [ ]:
type(data.columns)

In [ ]:
data.dtypes

In [ ]:
# Reordenando os níveis de índice nas colunas
data.columns = data.columns.reorder_levels([1, 0])

In [ ]:
# Ordenando as colunas em ordem alfabética
data.sort_index(axis=1, inplace=True)

In [ ]:
# Salvando em um arquivo .csv
data.to_csv('./data/base_bovespa.csv')

In [ ]:
# Slicing do dataframe
data.loc[:, 'ABCB4.SA':'BBSA3.SA']

In [ ]:
# Lendo arquivo .csv
try:
    historico = pd.read_csv('./data/base_bovespa.csv')
except FileNotFoundError:
    print('Arquivo não encontrado')

In [29]:
# Conectando a banco de dados SQL
import sqlite3
conn = sqlite3.connect("./data/historico_bovespa.db")

In [35]:
hist = pd.read_sql_query("SELECT * FROM HIST", conn)

In [36]:
hist

,Date,"('AALR3.SA', 'Adj Close')","('AALR3.SA', 'Close')","('AALR3.SA', 'High')","('AALR3.SA', 'Low')","('AALR3.SA', 'Open')","('AALR3.SA', 'Volume')","('ABCB4.SA', 'Adj Close')","('ABCB4.SA', 'Close')","('ABCB4.SA', 'High')",...,"('WIZS3.SA', 'High')","('WIZS3.SA', 'Low')","('WIZS3.SA', 'Open')","('WIZS3.SA', 'Volume')","('YDUQ3.SA', 'Adj Close')","('YDUQ3.SA', 'Close')","('YDUQ3.SA', 'High')","('YDUQ3.SA', 'Low')","('YDUQ3.SA', 'Open')","('YDUQ3.SA', 'Volume')"
0,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,2021-01-08 00:00:00,11.03,11.03,11.12,10.23,10.28,489200.0,16.10,16.10,16.490000,...,8.00,7.77,7.78,722300.0,33.930000,33.930000,33.98,33.000000,33.290001,1625800.0
5289,2021-01-11 00:00:00,11.14,11.14,11.23,10.80,11.09,444800.0,15.87,15.87,16.200001,...,7.96,7.62,7.94,1708400.0,32.590000,32.590000,34.68,32.330002,34.669998,4600200.0
5290,2021-01-12 00:00:00,11.08,11.08,11.18,10.92,11.14,241600.0,16.25,16.25,16.379999,...,7.77,7.63,7.66,1253500.0,34.099998,34.099998,34.18,31.740000,32.119999,6139300.0
5291,2021-01-13 00:00:00,10.97,10.97,11.21,10.89,11.12,188700.0,16.24,16.24,16.610001,...,7.87,7.63,7.75,1046700.0,33.820000,33.820000,34.59,33.110001,34.040001,2275700.0
5292,2021-01-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
from ast import literal_eval
# Reconstruindo índices
# Reconstrói o dataset com Date como index, e colunas multi-index com tuplas
hist.set_index('Date', drop=True, inplace=True)
hist.index = pd.to_datetime(hist.index)
hist.columns = list(map(literal_eval, hist.columns))
hist.columns = pd.MultiIndex.from_tuples(hist.columns)
hist

            AALR3.SA                                        ABCB4.SA         \
           Adj Close  Close   High    Low   Open    Volume Adj Close  Close
Date
2000-01-03       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-04       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-05       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-06       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
2000-01-07       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
...              ...    ...    ...    ...    ...       ...       ...    ...
2021-01-08     11.03  11.03  11.12  10.23  10.28  489200.0     16.10  16.10
2021-01-11     11.14  11.14  11.23  10.80  11.09  444800.0     15.87  15.87
2021-01-12     11.08  11.08  11.18  10.92  11.14  241600.0     16.25  16.25
2021-01-13     10.97  10.97  11.21  10.89  11.12  188700.0     16.24  16.24
2021-01-14       NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN

                                  ... WIZS3.SA                         \
                 High        Low  ...     High   Low  Open     Volume
Date                              ...
2000-01-03        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-04        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-05        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-06        NaN        NaN  ...      NaN   NaN   NaN        NaN
2000-01-07        NaN        NaN  ...      NaN   NaN   NaN        NaN
...               ...        ...  ...      ...   ...   ...        ...
2021-01-08  16.490000  15.970000  ...     8.00  7.77  7.78   722300.0
2021-01-11  16.200001  15.730000  ...     7.96  7.62  7.94  1708400.0
2021-01-12  16.379999  15.810000  ...     7.77  7.63  7.66  1253500.0
2021-01-13  16.610001  16.110001  ...     7.87  7.63  7.75  1046700.0
2021-01-14        NaN        NaN  ...      NaN   NaN   NaN        NaN

             YDUQ3.SA
            Adj Close      Close   High        Low       Open     Volume
Date
2000-01-03        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN    NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN    NaN        NaN        NaN        NaN
...               ...        ...    ...        ...        ...        ...
2021-01-08  33.930000  33.930000  33.98  33.000000  33.290001  1625800.0
2021-01-11  32.590000  32.590000  34.68  32.330002  34.669998  4600200.0
2021-01-12  34.099998  34.099998  34.18  31.740000  32.119999  6139300.0
2021-01-13  33.820000  33.820000  34.59  33.110001  34.040001  2275700.0
2021-01-14        NaN        NaN    NaN        NaN        NaN        NaN

[5293 rows x 984 columns]

In [39]:
df = hist['ABCB4.SA']
df

            Adj Close  Close       High        Low       Open     Volume
Date
2000-01-03        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-04        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-05        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-06        NaN    NaN        NaN        NaN        NaN        NaN
2000-01-07        NaN    NaN        NaN        NaN        NaN        NaN
...               ...    ...        ...        ...        ...        ...
2021-01-08      16.10  16.10  16.490000  15.970000  16.270000  1139900.0
2021-01-11      15.87  15.87  16.200001  15.730000  16.200001  1169500.0
2021-01-12      16.25  16.25  16.379999  15.810000  15.840000   807000.0
2021-01-13      16.24  16.24  16.610001  16.110001  16.379999   736600.0
2021-01-14        NaN    NaN        NaN        NaN        NaN        NaN

[5293 rows x 6 columns]

In [40]:
df.index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2020-12-30', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', name='Date', length=5293, freq=None)

In [45]:
df.iloc[-250:]

            Adj Close      Close       High        Low       Open     Volume
Date
2020-01-14  19.735495  20.389999  20.590000  20.219999  20.590000   773500.0
2020-01-15  19.445126  20.090000  20.360001  20.090000  20.320000   856600.0
2020-01-16  19.599987  20.250000  20.440001  20.010000  20.299999  1446200.0
2020-01-17  20.867937  21.559999  21.700001  20.299999  20.309999  2520700.0
2020-01-20  21.284136  21.990000  21.990000  21.379999  21.570000  1679700.0
...               ...        ...        ...        ...        ...        ...
2021-01-08  16.100000  16.100000  16.490000  15.970000  16.270000  1139900.0
2021-01-11  15.870000  15.870000  16.200001  15.730000  16.200001  1169500.0
2021-01-12  16.250000  16.250000  16.379999  15.810000  15.840000   807000.0
2021-01-13  16.240000  16.240000  16.610001  16.110001  16.379999   736600.0
2021-01-14        NaN        NaN        NaN        NaN        NaN        NaN

[250 rows x 6 columns]

In [ ]:
data.to_sql('hist', conn)

In [ ]:
hist = pd.read_sql_table('hist', conn)

In [ ]:
conn.close()

In [ ]:
hist

In [ ]:
hist.set_index('Date')
hist.head()

In [ ]:
hist.set_index(hist.Date)
hist

In [ ]:
hist.columns

In [ ]:
hist.set_index('Date', drop=True, inplace=True)

In [ ]:
hist

In [ ]:
hist.columns

In [ ]:
from ast import literal_eval
a = literal_eval(hist.columns[1])

In [ ]:
lista_index = [i for i in hist.columns[1:5]]
lista_index

In [ ]:
nova_lista = map(literal_eval, lista_index)
list(nova_lista)

In [ ]:
list(map(literal_eval, list(hist.columns[1:])))[1]

In [ ]:
hist.columns = list(map(literal_eval, hist.columns))

In [ ]:
hist.columns = pd.MultiIndex.from_tuples(hist.columns)

In [ ]:
hist.head()

In [ ]:
hist.columns

In [ ]:
hist.iloc[-1]

In [ ]:
hist.index[-1].rstrip('00:00:00').rstrip()

In [ ]:
data2 = yf.download(acoes, start='2021-01-01')

In [ ]:
hist.index

In [ ]:
hist.index = pd.to_datetime(hist.index)

In [ ]:
hist

In [ ]:
hist.index[-1]

In [ ]:
dia = hist.index[-1]

In [ ]:
dia.day

In [ ]:
type(dia.day)

In [ ]:
#>>> pd.to_datetime([1, 2, 3], unit='D',
#...                origin=pd.Timestamp('1960-01-01'))
#DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)
str(pd.to_datetime(12, unit='Y', origin=dia))