In [21]:
import pandas as pd
import yfinance as yf

In [22]:
?pd.read_csv

In [23]:
# Lendo lista de ações a serem importadas
iBrA = pd.read_csv("./data/IBrA.csv", delimiter=';')
iBrA

    Código           Ação       Tipo  Qtde. Teórica Part. (%)
0     AALR3        ALLIAR      ON NM     46.716.473     0,019
1     ABCB4    ABC BRASIL  PN EJS N2     73.745.621     0,044
2     ABEV3     AMBEV S/A         ON  4.355.174.839     2,638
3     ALPA4    ALPARGATAS      PN N1    168.770.200     0,251
4     ALSO3  ALIANSCSONAE      ON NM    127.376.805     0,129
..      ...           ...        ...            ...       ...
159   VULC3     VULCABRAS      ON NM     74.685.291     0,022
160   VVAR3     VIAVAREJO  ON ATZ NM  1.595.083.594     0,934
161   WEGE3           WEG      ON NM    741.148.001     2,281
162   WIZS3      WIZ S.A.      ON NM     77.453.769     0,022
163   YDUQ3    YDUQS PART      ON NM    300.483.575     0,374

[164 rows x 5 columns]

In [24]:
# Alterando nome das colunas para evitar erros por acentuação
iBrA.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']

In [25]:
iBrA.head()

  Codigo       Empresa       Tipo    Qtd_Teorica   Part
0  AALR3        ALLIAR      ON NM     46.716.473  0,019
1  ABCB4    ABC BRASIL  PN EJS N2     73.745.621  0,044
2  ABEV3     AMBEV S/A         ON  4.355.174.839  2,638
3  ALPA4    ALPARGATAS      PN N1    168.770.200  0,251
4  ALSO3  ALIANSCSONAE      ON NM    127.376.805  0,129

In [26]:
iBrA.Codigo

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [27]:
iBrA.loc[:, 'Codigo']

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [28]:
iBrA.dtypes

Codigo         object
Empresa        object
Tipo           object
Qtd_Teorica    object
Part           object
dtype: object

In [29]:
# Fazendo download de uma ação específica do yahoo finance
abev = yf.download('ABEV3.SA')

[*********************100%***********************]  1 of 1 completed

In [30]:
abev

                 Open      High        Low      Close  Adj Close    Volume
Date
2000-01-05   0.520870   0.52087   0.520870   0.520870   0.093810       986
2000-01-06   0.494490   0.49449   0.494490   0.494490   0.089059       228
2000-01-07   0.494490   0.49449   0.494490   0.494490   0.089059       152
2000-01-10   0.494490   0.49449   0.494490   0.494490   0.089059      1517
2000-01-11   0.494490   0.49449   0.494490   0.494490   0.089059      3792
...               ...       ...        ...        ...        ...       ...
2021-01-05  15.370000  16.02000  15.230000  15.810000  15.810000  37105800
2021-01-06  15.660000  16.23000  15.630000  16.129999  16.129999  28371600
2021-01-07  16.030001  16.24000  15.910000  16.049999  16.049999  32540100
2021-01-08  16.100000  16.68000  16.030001  16.639999  16.639999  19623600
2021-01-11  16.410000  16.59000  16.309999  16.440001  16.440001   7787000

[5225 rows x 6 columns]

In [31]:
# Extraindo os códigos das ações da lista e acrescentando .SA a todos os símbolos para poder fazer o download
acoes = list(iBrA.Codigo)
acoes = [i + '.SA' for i in acoes]
acoes

['AALR3.SA',
 'ABCB4.SA',
 'ABEV3.SA',
 'ALPA4.SA',
 'ALSO3.SA',
 'ALUP11.SA',
 'AMAR3.SA',
 'ANIM3.SA',
 'ARZZ3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BEEF3.SA',
 'BIDI11.SA',
 'BIDI4.SA',
 'BKBR3.SA',
 'BMGB4.SA',
 'BPAC11.SA',
 'BPAN4.SA',
 'BRAP4.SA',
 'BRDT3.SA',
 'BRFS3.SA',
 'BRKM5.SA',
 'BRML3.SA',
 'BRPR3.SA',
 'BRSR6.SA',
 'BTOW3.SA',
 'CAML3.SA',
 'CCRO3.SA',
 'CEAB3.SA',
 'CESP6.SA',
 'CIEL3.SA',
 'CMIG3.SA',
 'CMIG4.SA',
 'CNTO3.SA',
 'COGN3.SA',
 'CPFE3.SA',
 'CPLE3.SA',
 'CPLE6.SA',
 'CRFB3.SA',
 'CSAN3.SA',
 'CSMG3.SA',
 'CSNA3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'DIRR3.SA',
 'DMMO3.SA',
 'DTEX3.SA',
 'ECOR3.SA',
 'EGIE3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENAT3.SA',
 'ENBR3.SA',
 'ENEV3.SA',
 'ENGI11.SA',
 'EQTL3.SA',
 'EVEN3.SA',
 'EZTC3.SA',
 'FLRY3.SA',
 'GFSA3.SA',
 'GGBR4.SA',
 'GNDI3.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'GRND3.SA',
 'GUAR3.SA',
 'HAPV3.SA',
 'HBOR3.SA',
 'HGTX3.SA',
 'HYPE3.SA',
 'IGTA3.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB3.SA',
 'ITUB4.SA',
 'JBSS3.SA',
 'JHSF3.SA',
 'JPSA3.SA',
 'KLBN11.SA',
 'LAME3.SA',
 'LAME4.SA',
 'LCAM3.SA',
 'LEVE3.SA',
 'LIGT3.SA',
 'LINX3.SA',
 'LJQQ3.SA',
 'LOGG3.SA',
 'LOGN3.SA',
 'LPSB3.SA',
 'LREN3.SA',
 'LWSA3.SA',
 'MDIA3.SA',
 'MEAL3.SA',
 'MGLU3.SA',
 'MILS3.SA',
 'MOVI3.SA',
 'MRFG3.SA',
 'MRVE3.SA',
 'MTRE3.SA',
 'MULT3.SA',
 'MYPK3.SA',
 'NEOE3.SA',
 'NTCO3.SA',
 'ODPV3.SA',
 'OMGE3.SA',
 'PARD3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'POMO4.SA',
 'POSI3.SA',
 'PRIO3.SA',
 'PSSA3.SA',
 'PTBL3.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIL3.SA',
 'RAPT4.SA',
 'RCSL4.SA',
 'RENT3.SA',
 'RLOG3.SA',
 'ROMI3.SA',
 'SANB11.SA',
 'SAPR11.SA',
 'SAPR4.SA',
 'SBSP3.SA',
 'SEER3.SA',
 'SIMH3.SA',
 'SLCE3.SA',
 'SMLS3.SA',
 'SMTO3.SA',
 'SOMA3.SA',
 'SQIA3.SA',
 'STBP3.SA',
 'SULA11.SA',
 'SUZB3.SA',
 'TAEE11.SA',
 'TASA4.SA',
 'TCSA3.SA',
 'TEND3.SA',
 'TGMA3.SA',
 'TIET11.SA',
 'TIMS3.SA',
 'TOTS3.SA',
 'TRIS3.SA',
 'TRPL4.SA',
 'TUPY3.SA',
 'UGPA3.SA',
 'UNIP6.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VIVA3.SA',
 'VIVT3.SA',
 'VLID3.SA',
 'VULC3.SA',
 'VVAR3.SA',
 'WEGE3.SA',
 'WIZS3.SA',
 'YDUQ3.SA']

In [33]:
# Download de todoas as ações da lista
data = yf.download(acoes)

[*********************100%***********************]  164 of 164 completed

In [34]:
data

           Adj Close                                                         \
            AALR3.SA   ABCB4.SA   ABEV3.SA   ALPA4.SA   ALSO3.SA  ALUP11.SA
Date
2000-01-03       NaN        NaN        NaN        NaN        NaN        NaN
2000-01-04       NaN        NaN        NaN        NaN        NaN        NaN
2000-01-05       NaN        NaN   0.093810        NaN        NaN        NaN
2000-01-06       NaN        NaN   0.089059        NaN        NaN        NaN
2000-01-07       NaN        NaN   0.089059        NaN        NaN        NaN
...              ...        ...        ...        ...        ...        ...
2021-01-05     10.79  15.542104  15.810000  41.669998  28.170000  26.500000
2021-01-06     10.63  15.717258  16.129999  39.400002  26.670000  26.290001
2021-01-07     10.23  16.240000  16.049999  38.700001  26.190001  25.850000
2021-01-08     11.03  16.100000  16.639999  40.330002  26.969999  26.469999
2021-01-11     10.90  15.900000  16.420000  40.130001  26.200001  26.650000

                                                      ...      Volume  \
           AMAR3.SA   ANIM3.SA   ARZZ3.SA   AZUL4.SA  ...    USIM5.SA
Date                                                  ...
2000-01-03      NaN        NaN        NaN        NaN  ...    571500.0
2000-01-04      NaN        NaN        NaN        NaN  ...   1121400.0
2000-01-05      NaN        NaN        NaN        NaN  ...   1602450.0
2000-01-06      NaN        NaN        NaN        NaN  ...   3084300.0
2000-01-07      NaN        NaN        NaN        NaN  ...   2871000.0
...             ...        ...        ...        ...  ...         ...
2021-01-05     6.57  35.830002  66.959999  38.200001  ...  18302900.0
2021-01-06     6.20  35.389999  63.000000  36.669998  ...  23592900.0
2021-01-07     6.11  35.200001  62.919998  36.049999  ...  22298600.0
2021-01-08     6.22  35.270000  64.510002  36.450001  ...  19056500.0
2021-01-11     6.09  35.860001  63.669998  36.450001  ...  30043500.0

                                                                              \
              VALE3.SA   VIVA3.SA   VIVT3.SA  VLID3.SA  VULC3.SA    VVAR3.SA
Date
2000-01-03    585600.0        NaN       98.0       NaN       NaN      6990.0
2000-01-04    782400.0        NaN      228.0       NaN       NaN     16309.0
2000-01-05   1876800.0        NaN      120.0       NaN       NaN         NaN
2000-01-06    792000.0        NaN      123.0       NaN       NaN    100963.0
2000-01-07   5347200.0        NaN      266.0       NaN       NaN       777.0
...                ...        ...        ...       ...       ...         ...
2021-01-05  34300300.0  1266200.0  2899200.0  937300.0  607800.0  41436700.0
2021-01-06  53722500.0  2011600.0  5790100.0  957400.0  524700.0  49797300.0
2021-01-07  74541400.0  1892500.0  5213500.0  611600.0  800000.0  70842700.0
2021-01-08  43879400.0   558800.0  1935100.0  596000.0  616900.0  41985600.0
2021-01-11  12933900.0   226200.0  1476700.0  198500.0  157100.0  16732600.0


              WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
2000-01-03    189280.0        NaN        NaN
2000-01-04     23660.0        NaN        NaN
2000-01-05         0.0        NaN        NaN
2000-01-06    125060.0        NaN        NaN
2000-01-07     67600.0        NaN        NaN
...                ...        ...        ...
2021-01-05   8316800.0  1391500.0  3703500.0
2021-01-06  10753700.0   804500.0  5004000.0
2021-01-07   7564800.0   656200.0  6138600.0
2021-01-08   6815100.0   722300.0  1625800.0
2021-01-11   4348600.0   825800.0  1386300.0

[5285 rows x 984 columns]

In [35]:
type(data.columns)

pandas.core.indexes.multi.MultiIndex

In [36]:
data.columns

MultiIndex([('Adj Close',  'AALR3.SA'),
            ('Adj Close',  'ABCB4.SA'),
            ('Adj Close',  'ABEV3.SA'),
            ('Adj Close',  'ALPA4.SA'),
            ('Adj Close',  'ALSO3.SA'),
            ('Adj Close', 'ALUP11.SA'),
            ('Adj Close',  'AMAR3.SA'),
            ('Adj Close',  'ANIM3.SA'),
            ('Adj Close',  'ARZZ3.SA'),
            ('Adj Close',  'AZUL4.SA'),
            ...
            (   'Volume',  'USIM5.SA'),
            (   'Volume',  'VALE3.SA'),
            (   'Volume',  'VIVA3.SA'),
            (   'Volume',  'VIVT3.SA'),
            (   'Volume',  'VLID3.SA'),
            (   'Volume',  'VULC3.SA'),
            (   'Volume',  'VVAR3.SA'),
            (   'Volume',  'WEGE3.SA'),
            (   'Volume',  'WIZS3.SA'),
            (   'Volume',  'YDUQ3.SA')],
           length=984)

In [37]:
# Reordenando os níveis de índice nas colunas
data.columns = data.columns.reorder_levels([1, 0])

In [38]:
# Ordenando as colunas em ordem alfabética
data.sort_index(axis=1, inplace=True)

In [39]:
data

            AALR3.SA                                         ABCB4.SA  \
           Adj Close  Close   High    Low   Open    Volume  Adj Close
Date
2000-01-03       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-04       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-05       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-06       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-07       NaN    NaN    NaN    NaN    NaN       NaN        NaN
...              ...    ...    ...    ...    ...       ...        ...
2021-01-05     10.79  10.79  11.05  10.68  11.00  557800.0  15.542104
2021-01-06     10.63  10.63  10.84  10.61  10.78  478500.0  15.717258
2021-01-07     10.23  10.23  10.73  10.23  10.69  474900.0  16.240000
2021-01-08     11.03  11.03  11.12  10.23  10.28  489200.0  16.100000
2021-01-11     10.90  10.90  11.23  10.86  11.09  230900.0  15.900000

                                         ... WIZS3.SA                         \
              Close       High      Low  ...     High   Low  Open     Volume
Date                                     ...
2000-01-03      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-04      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-05      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-06      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
2000-01-07      NaN        NaN      NaN  ...      NaN   NaN   NaN        NaN
...             ...        ...      ...  ...      ...   ...   ...        ...
2021-01-05  15.8745  16.142900  15.6359  ...     8.00  7.68  7.84  1391500.0
2021-01-06  16.0534  16.301901  15.8546  ...     7.91  7.72  7.80   804500.0
2021-01-07  16.2400  16.250000  15.8000  ...     7.90  7.74  7.80   656200.0
2021-01-08  16.1000  16.490000  15.9700  ...     8.00  7.77  7.78   722300.0
2021-01-11  15.9000  16.200001  15.7300  ...     7.96  7.76  7.94   825800.0

             YDUQ3.SA
            Adj Close      Close       High        Low       Open     Volume
Date
2000-01-03        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2021-01-05  34.169998  34.169998  34.689999  33.099998  34.000000  3703500.0
2021-01-06  32.810001  32.810001  34.360001  32.660000  34.220001  5004000.0
2021-01-07  33.220001  33.220001  34.000000  32.200001  32.970001  6138600.0
2021-01-08  33.930000  33.930000  33.980000  33.000000  33.290001  1625800.0
2021-01-11  33.470001  33.470001  34.680000  33.220001  34.669998  1386300.0

[5285 rows x 984 columns]

In [40]:
# Salvando em um arquivo .csv
data.to_csv('./data/base_bovespa.csv')

In [41]:
# Slicing do dataframe
data.loc[:, 'ABCB4.SA':'BBSA3.SA']

             ABCB4.SA                                                     \
            Adj Close    Close       High      Low       Open     Volume
Date
2000-01-03        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-04        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-05        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-06        NaN      NaN        NaN      NaN        NaN        NaN
2000-01-07        NaN      NaN        NaN      NaN        NaN        NaN
...               ...      ...        ...      ...        ...        ...
2021-01-05  15.542104  15.8745  16.142900  15.6359  16.142900  1177843.0
2021-01-06  15.717258  16.0534  16.301901  15.8546  15.904300   996056.0
2021-01-07  16.240000  16.2400  16.250000  15.8000  15.860000  1018500.0
2021-01-08  16.100000  16.1000  16.490000  15.9700  16.270000  1139900.0
2021-01-11  15.900000  15.9000  16.200001  15.7300  16.200001   770400.0

             ABEV3.SA                                  ...   BBDC3.SA  \
            Adj Close      Close      High        Low  ...       High
Date                                                   ...
2000-01-03        NaN        NaN       NaN        NaN  ...   2.789780
2000-01-04        NaN        NaN       NaN        NaN  ...   2.607910
2000-01-05   0.093810   0.520870   0.52087   0.520870  ...   2.607910
2000-01-06   0.089059   0.494490   0.49449   0.494490  ...   2.728070
2000-01-07   0.089059   0.494490   0.49449   0.494490  ...   2.679360
...               ...        ...       ...        ...  ...        ...
2021-01-05  15.810000  15.810000  16.02000  15.230000  ...  23.570000
2021-01-06  16.129999  16.129999  16.23000  15.630000  ...  24.459999
2021-01-07  16.049999  16.049999  16.24000  15.910000  ...  24.850000
2021-01-08  16.639999  16.639999  16.68000  16.030001  ...  25.150000
2021-01-11  16.420000  16.420000  16.59000  16.309999  ...  24.309999

                                              BBDC4.SA                        \
                  Low       Open     Volume  Adj Close      Close       High
Date
2000-01-03   2.679360   2.789780   270960.0        NaN        NaN        NaN
2000-01-04   2.461760   2.607910  1699661.0        NaN        NaN        NaN
2000-01-05   2.387060   2.461760  1477966.0        NaN        NaN        NaN
2000-01-06   2.559190   2.568930  2167684.0        NaN        NaN        NaN
2000-01-07   2.594920   2.679360  1773560.0        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2021-01-05  23.030001  23.340000  4725400.0  26.250000  26.250000  26.400000
2021-01-06  23.389999  23.520000  6161000.0  27.120001  27.120001  27.480000
2021-01-07  23.879999  24.020000  4429000.0  27.840000  27.840000  27.980000
2021-01-08  24.200001  24.830000  3636500.0  27.360001  27.360001  28.410000
2021-01-11  23.870001  24.120001  2126700.0  27.150000  27.150000  27.389999


                  Low       Open      Volume
Date
2000-01-03        NaN        NaN         NaN
2000-01-04        NaN        NaN         NaN
2000-01-05        NaN        NaN         NaN
2000-01-06        NaN        NaN         NaN
2000-01-07        NaN        NaN         NaN
...               ...        ...         ...
2021-01-05  25.680000  26.200001  38931800.0
2021-01-06  26.270000  26.290001  60592900.0
2021-01-07  26.959999  27.170000  46731900.0
2021-01-08  27.230000  28.059999  38147900.0
2021-01-11  26.850000  27.120001  15748900.0

[5285 rows x 78 columns]

In [42]:
try:
    historico = pd.read_csv('./data/base_bovespa.csv', index_col=)
except FileNotFoundError:
    print('Arquivo não encontrado')

C:\Users\rafae\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
?pd.read_csv

In [44]:
historico

,Unnamed: 0,AALR3.SA,AALR3.SA.1,AALR3.SA.2,AALR3.SA.3,AALR3.SA.4,AALR3.SA.5,ABCB4.SA,ABCB4.SA.1,ABCB4.SA.2,...,WIZS3.SA.2,WIZS3.SA.3,WIZS3.SA.4,WIZS3.SA.5,YDUQ3.SA,YDUQ3.SA.1,YDUQ3.SA.2,YDUQ3.SA.3,YDUQ3.SA.4,YDUQ3.SA.5
0,NaN,Adj Close,Close,High,Low,Open,Volume,Adj Close,Close,High,...,High,Low,Open,Volume,Adj Close,Close,High,Low,Open,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,2021-01-05,10.79,10.79,11.05,10.68,11,557800,15.5421,15.8745,16.1429,...,8,7.68,7.84,1.3915e+06,34.17,34.17,34.69,33.1,34,3.7035e+06
5283,2021-01-06,10.63,10.63,10.84,10.61,10.78,478500,15.7173,16.0534,16.3019,...,7.91,7.72,7.8,804500,32.81,32.81,34.36,32.66,34.22,5.004e+06
5284,2021-01-07,10.23,10.23,10.73,10.23,10.69,474900,16.24,16.24,16.25,...,7.9,7.74,7.8,656200,33.22,33.22,34,32.2,32.97,6.1386e+06
5285,2021-01-08,11.03,11.03,11.12,10.23,10.28,489200,16.1,16.1,16.49,...,8,7.77,7.78,722300,33.93,33.93,33.98,33,33.29,1.6258e+06
5286,2021-01-11,10.9,10.9,11.23,10.86,11.09,230900,15.9,15.9,16.2,...,7.96,7.76,7.94,825800,33.47,33.47,34.68,33.22,34.67,1.3863e+06

In [45]:
historico.describe()

,Unnamed: 0,AALR3.SA,AALR3.SA.1,AALR3.SA.2,AALR3.SA.3,AALR3.SA.4,AALR3.SA.5,ABCB4.SA,ABCB4.SA.1,ABCB4.SA.2,...,WIZS3.SA.2,WIZS3.SA.3,WIZS3.SA.4,WIZS3.SA.5,YDUQ3.SA,YDUQ3.SA.1,YDUQ3.SA.2,YDUQ3.SA.3,YDUQ3.SA.4,YDUQ3.SA.5
count,5286,1043.000000,1043.0,1043.00,1043.0,1043.0,1043.0,3264.000000,3264.00000,3264.00000,...,1391.0,1391.0,1391.0,1391.0,2115.000000,2115.0,2115.000000,2115.00,2115.0,2115.0
unique,5286,654.000000,571.0,598.00,626.0,598.0,952.0,2295.000000,2043.00000,2133.00000,...,757.0,734.0,735.0,1303.0,1801.000000,1363.0,1499.000000,1473.00,1408.0,2044.0
top,2003-09-23,12.869462,18.0,14.95,11.9,15.0,0.0,4.514643,7.36254,7.58342,...,8.0,10.9,8.0,0.0,12.788029,17.6,16.799999,26.02,24.0,0.0
freq,1,10.000000,12.0,9.00,10.0,7.0,9.0,14.000000,16.00000,11.00000,...,11.0,10.0,10.0,11.0,6.000000,8.0,10.000000,6.00,9.0,20.0