In [2]:
import pandas as pd
import yfinance as yf

In [4]:
# Lendo lista de ações a serem importadas
iBrA = pd.read_csv("./data/IBrA.csv", delimiter=';')
iBrA

    Código           Ação       Tipo  Qtde. Teórica Part. (%)
0     AALR3        ALLIAR      ON NM     46.716.473     0,019
1     ABCB4    ABC BRASIL  PN EJS N2     73.745.621     0,044
2     ABEV3     AMBEV S/A         ON  4.355.174.839     2,638
3     ALPA4    ALPARGATAS      PN N1    168.770.200     0,251
4     ALSO3  ALIANSCSONAE      ON NM    127.376.805     0,129
..      ...           ...        ...            ...       ...
159   VULC3     VULCABRAS      ON NM     74.685.291     0,022
160   VVAR3     VIAVAREJO  ON ATZ NM  1.595.083.594     0,934
161   WEGE3           WEG      ON NM    741.148.001     2,281
162   WIZS3      WIZ S.A.      ON NM     77.453.769     0,022
163   YDUQ3    YDUQS PART      ON NM    300.483.575     0,374

[164 rows x 5 columns]

In [5]:
# Alterando nome das colunas para evitar erros por acentuação
iBrA.columns = ['Codigo', 'Empresa', 'Tipo', 'Qtd_Teorica', 'Part']

In [6]:
iBrA.head()

  Codigo       Empresa       Tipo    Qtd_Teorica   Part
0  AALR3        ALLIAR      ON NM     46.716.473  0,019
1  ABCB4    ABC BRASIL  PN EJS N2     73.745.621  0,044
2  ABEV3     AMBEV S/A         ON  4.355.174.839  2,638
3  ALPA4    ALPARGATAS      PN N1    168.770.200  0,251
4  ALSO3  ALIANSCSONAE      ON NM    127.376.805  0,129

In [7]:
iBrA.Codigo

0      AALR3
1      ABCB4
2      ABEV3
3      ALPA4
4      ALSO3
       ...
159    VULC3
160    VVAR3
161    WEGE3
162    WIZS3
163    YDUQ3
Name: Codigo, Length: 164, dtype: object

In [9]:
# Fazendo download de uma ação específica do yahoo finance
abev = yf.download('ABEV3.SA')

[*********************100%***********************]  1 of 1 completed

In [10]:
abev

                 Open      High       Low      Close  Adj Close    Volume
Date
2000-01-05   0.520870   0.52087   0.52087   0.520870   0.093810       986
2000-01-06   0.494490   0.49449   0.49449   0.494490   0.089059       228
2000-01-07   0.494490   0.49449   0.49449   0.494490   0.089059       152
2000-01-10   0.494490   0.49449   0.49449   0.494490   0.089059      1517
2000-01-11   0.494490   0.49449   0.49449   0.494490   0.089059      3792
...               ...       ...       ...        ...        ...       ...
2020-12-30  16.049999  16.10000  15.65000  15.650000  15.650000  19432700
2021-01-04  15.790000  15.85000  15.38000  15.480000  15.480000  17835200
2021-01-05  15.370000  16.02000  15.23000  15.810000  15.810000  37105800
2021-01-06  15.660000  16.23000  15.63000  16.129999  16.129999  28371600
2021-01-07  16.030001  16.24000  15.91000  16.040001  16.040001  21574500

[5223 rows x 6 columns]

In [12]:
# Extraindo os códigos das ações da lista e acrescentando .SA a todos os símbolos para poder fazer o download
acoes = list(iBrA.Codigo)
acoes = [i + '.SA' for i in acoes]
acoes

['AALR3.SA',
 'ABCB4.SA',
 'ABEV3.SA',
 'ALPA4.SA',
 'ALSO3.SA',
 'ALUP11.SA',
 'AMAR3.SA',
 'ANIM3.SA',
 'ARZZ3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BEEF3.SA',
 'BIDI11.SA',
 'BIDI4.SA',
 'BKBR3.SA',
 'BMGB4.SA',
 'BPAC11.SA',
 'BPAN4.SA',
 'BRAP4.SA',
 'BRDT3.SA',
 'BRFS3.SA',
 'BRKM5.SA',
 'BRML3.SA',
 'BRPR3.SA',
 'BRSR6.SA',
 'BTOW3.SA',
 'CAML3.SA',
 'CCRO3.SA',
 'CEAB3.SA',
 'CESP6.SA',
 'CIEL3.SA',
 'CMIG3.SA',
 'CMIG4.SA',
 'CNTO3.SA',
 'COGN3.SA',
 'CPFE3.SA',
 'CPLE3.SA',
 'CPLE6.SA',
 'CRFB3.SA',
 'CSAN3.SA',
 'CSMG3.SA',
 'CSNA3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'DIRR3.SA',
 'DMMO3.SA',
 'DTEX3.SA',
 'ECOR3.SA',
 'EGIE3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENAT3.SA',
 'ENBR3.SA',
 'ENEV3.SA',
 'ENGI11.SA',
 'EQTL3.SA',
 'EVEN3.SA',
 'EZTC3.SA',
 'FLRY3.SA',
 'GFSA3.SA',
 'GGBR4.SA',
 'GNDI3.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'GRND3.SA',
 'GUAR3.SA',
 'HAPV3.SA',
 'HBOR3.SA',
 'HGTX3.SA',
 'HYPE3.SA',
 'IGTA3.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB3.SA',
 'ITUB4.SA',
 'JBSS3.SA',
 'JHSF3.SA',
 'JPSA3.SA',
 'KLBN11.SA',
 'LAME3.SA',
 'LAME4.SA',
 'LCAM3.SA',
 'LEVE3.SA',
 'LIGT3.SA',
 'LINX3.SA',
 'LJQQ3.SA',
 'LOGG3.SA',
 'LOGN3.SA',
 'LPSB3.SA',
 'LREN3.SA',
 'LWSA3.SA',
 'MDIA3.SA',
 'MEAL3.SA',
 'MGLU3.SA',
 'MILS3.SA',
 'MOVI3.SA',
 'MRFG3.SA',
 'MRVE3.SA',
 'MTRE3.SA',
 'MULT3.SA',
 'MYPK3.SA',
 'NEOE3.SA',
 'NTCO3.SA',
 'ODPV3.SA',
 'OMGE3.SA',
 'PARD3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'POMO4.SA',
 'POSI3.SA',
 'PRIO3.SA',
 'PSSA3.SA',
 'PTBL3.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIL3.SA',
 'RAPT4.SA',
 'RCSL4.SA',
 'RENT3.SA',
 'RLOG3.SA',
 'ROMI3.SA',
 'SANB11.SA',
 'SAPR11.SA',
 'SAPR4.SA',
 'SBSP3.SA',
 'SEER3.SA',
 'SIMH3.SA',
 'SLCE3.SA',
 'SMLS3.SA',
 'SMTO3.SA',
 'SOMA3.SA',
 'SQIA3.SA',
 'STBP3.SA',
 'SULA11.SA',
 'SUZB3.SA',
 'TAEE11.SA',
 'TASA4.SA',
 'TCSA3.SA',
 'TEND3.SA',
 'TGMA3.SA',
 'TIET11.SA',
 'TIMS3.SA',
 'TOTS3.SA',
 'TRIS3.SA',
 'TRPL4.SA',
 'TUPY3.SA',
 'UGPA3.SA',
 'UNIP6.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VIVA3.SA',
 'VIVT3.SA',
 'VLID3.SA',
 'VULC3.SA',
 'VVAR3.SA',
 'WEGE3.SA',
 'WIZS3.SA',
 'YDUQ3.SA']

In [13]:
# Download de todoas as ações da lista
data = yf.download(acoes)

[*********************100%***********************]  164 of 164 completed

In [14]:
data

           Adj Close                                                       \
            AALR3.SA   ABCB4.SA   ABEV3.SA   ALPA4.SA ALSO3.SA  ALUP11.SA
Date
2000-01-03       NaN        NaN        NaN        NaN      NaN        NaN
2000-01-04       NaN        NaN        NaN        NaN      NaN        NaN
2000-01-05       NaN        NaN   0.093810        NaN      NaN        NaN
2000-01-06       NaN        NaN   0.089059        NaN      NaN        NaN
2000-01-07       NaN        NaN   0.089059        NaN      NaN        NaN
...              ...        ...        ...        ...      ...        ...
2021-01-04     11.13  15.860789  15.480000  41.650002    28.18  26.639999
2021-01-05     10.79  15.542104  15.810000  41.669998    28.17  26.500000
2021-01-06     10.63  15.717258  16.129999  39.400002    26.67  26.290001
2021-01-07     10.50  16.110001  16.040001  38.490002    26.34  25.850000
2021-01-08       NaN        NaN        NaN        NaN      NaN        NaN

                                                      ...      Volume  \
           AMAR3.SA   ANIM3.SA   ARZZ3.SA   AZUL4.SA  ...    USIM5.SA
Date                                                  ...
2000-01-03      NaN        NaN        NaN        NaN  ...    571500.0
2000-01-04      NaN        NaN        NaN        NaN  ...   1121400.0
2000-01-05      NaN        NaN        NaN        NaN  ...   1602450.0
2000-01-06      NaN        NaN        NaN        NaN  ...   3084300.0
2000-01-07      NaN        NaN        NaN        NaN  ...   2871000.0
...             ...        ...        ...        ...  ...         ...
2021-01-04     6.59  36.000000  68.000000  37.730000  ...  20687900.0
2021-01-05     6.57  35.830002  66.959999  38.200001  ...  18302900.0
2021-01-06     6.20  35.389999  63.000000  36.669998  ...  23592900.0
2021-01-07     6.08  35.500000  62.270000  36.099998  ...  17855700.0
2021-01-08      NaN        NaN        NaN        NaN  ...         NaN

                                                                              \
              VALE3.SA   VIVA3.SA   VIVT3.SA  VLID3.SA  VULC3.SA    VVAR3.SA
Date
2000-01-03    585600.0        NaN       98.0       NaN       NaN      6990.0
2000-01-04    782400.0        NaN      228.0       NaN       NaN     16309.0
2000-01-05   1876800.0        NaN      120.0       NaN       NaN     16309.0
2000-01-06    792000.0        NaN      123.0       NaN       NaN    100963.0
2000-01-07   5347200.0        NaN      266.0       NaN       NaN       777.0
...                ...        ...        ...       ...       ...         ...
2021-01-04  37865500.0  1053500.0  2791400.0  716200.0  719000.0  44372400.0
2021-01-05  34300300.0  1266200.0  2899200.0  937300.0  607800.0  41436700.0
2021-01-06  53722500.0  2011600.0  5790100.0  957400.0  524700.0  49797300.0
2021-01-07  47855000.0  1432600.0  3975300.0  403800.0  411300.0  46846300.0
2021-01-08         NaN        NaN        NaN       NaN       NaN         NaN


              WEGE3.SA   WIZS3.SA   YDUQ3.SA
Date
2000-01-03    189280.0        NaN        NaN
2000-01-04     23660.0        NaN        NaN
2000-01-05         0.0        NaN        NaN
2000-01-06    125060.0        NaN        NaN
2000-01-07     67600.0        NaN        NaN
...                ...        ...        ...
2021-01-04   3609900.0  1699200.0  2640400.0
2021-01-05   8316800.0  1391500.0  3703500.0
2021-01-06  10753700.0   804500.0  5004000.0
2021-01-07   5486500.0   502900.0  4408100.0
2021-01-08         NaN        NaN        NaN

[5289 rows x 984 columns]

In [17]:
type(data.columns)

pandas.core.indexes.multi.MultiIndex

In [21]:
data.columns

MultiIndex([('Adj Close',  'AALR3.SA'),
            ('Adj Close',  'ABCB4.SA'),
            ('Adj Close',  'ABEV3.SA'),
            ('Adj Close',  'ALPA4.SA'),
            ('Adj Close',  'ALSO3.SA'),
            ('Adj Close', 'ALUP11.SA'),
            ('Adj Close',  'AMAR3.SA'),
            ('Adj Close',  'ANIM3.SA'),
            ('Adj Close',  'ARZZ3.SA'),
            ('Adj Close',  'AZUL4.SA'),
            ...
            (   'Volume',  'USIM5.SA'),
            (   'Volume',  'VALE3.SA'),
            (   'Volume',  'VIVA3.SA'),
            (   'Volume',  'VIVT3.SA'),
            (   'Volume',  'VLID3.SA'),
            (   'Volume',  'VULC3.SA'),
            (   'Volume',  'VVAR3.SA'),
            (   'Volume',  'WEGE3.SA'),
            (   'Volume',  'WIZS3.SA'),
            (   'Volume',  'YDUQ3.SA')],
           length=984)

In [32]:
# Reordenando os níveis de índice nas colunas
data.columns = data.columns.reorder_levels([1, 0])

In [49]:
# Ordenando as colunas em ordem alfabética
data.sort_index(axis=1, inplace=True)

In [50]:
data

            AALR3.SA                                         ABCB4.SA  \
           Adj Close  Close   High    Low   Open    Volume  Adj Close
Date
2000-01-03       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-04       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-05       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-06       NaN    NaN    NaN    NaN    NaN       NaN        NaN
2000-01-07       NaN    NaN    NaN    NaN    NaN       NaN        NaN
...              ...    ...    ...    ...    ...       ...        ...
2021-01-04     11.13  11.13  11.27  10.83  11.13  405100.0  15.860789
2021-01-05     10.79  10.79  11.05  10.68  11.00  557800.0  15.542104
2021-01-06     10.63  10.63  10.84  10.61  10.78  478500.0  15.717258
2021-01-07     10.50  10.50  10.73  10.50  10.69  278700.0  16.110001
2021-01-08       NaN    NaN    NaN    NaN    NaN       NaN        NaN

                                           ... WIZS3.SA              \
                Close       High      Low  ...     High   Low  Open
Date                                       ...
2000-01-03        NaN        NaN      NaN  ...      NaN   NaN   NaN
2000-01-04        NaN        NaN      NaN  ...      NaN   NaN   NaN
2000-01-05        NaN        NaN      NaN  ...      NaN   NaN   NaN
2000-01-06        NaN        NaN      NaN  ...      NaN   NaN   NaN
2000-01-07        NaN        NaN      NaN  ...      NaN   NaN   NaN
...               ...        ...      ...  ...      ...   ...   ...
2021-01-04  16.200001  16.309999  15.8100  ...     8.12  7.82  8.05
2021-01-05  15.874500  16.142900  15.6359  ...     8.00  7.68  7.84
2021-01-06  16.053400  16.301901  15.8546  ...     7.91  7.72  7.80
2021-01-07  16.110001  16.250000  15.8000  ...     7.90  7.74  7.80
2021-01-08        NaN        NaN      NaN  ...      NaN   NaN   NaN

                        YDUQ3.SA                                              \
               Volume  Adj Close      Close       High        Low       Open
Date
2000-01-03        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-04        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-05        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-06        NaN        NaN        NaN        NaN        NaN        NaN
2000-01-07        NaN        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2021-01-04  1699200.0  34.000000  34.000000  34.400002  33.259998  33.430000
2021-01-05  1391500.0  34.169998  34.169998  34.689999  33.099998  34.000000
2021-01-06   804500.0  32.810001  32.810001  34.360001  32.660000  34.220001
2021-01-07   502900.0  33.099998  33.099998  34.000000  32.200001  32.970001
2021-01-08        NaN        NaN        NaN        NaN        NaN        NaN


               Volume
Date
2000-01-03        NaN
2000-01-04        NaN
2000-01-05        NaN
2000-01-06        NaN
2000-01-07        NaN
...               ...
2021-01-04  2640400.0
2021-01-05  3703500.0
2021-01-06  5004000.0
2021-01-07  4408100.0
2021-01-08        NaN

[5289 rows x 984 columns]

In [52]:
# Salvando em um arquivo .csv
data.to_csv('./data/base_bovespa.csv')

In [74]:
# Slicing do dataframe
data.loc[:, 'ABCB4.SA':'BBSA3.SA']

             ABCB4.SA                                                     \
            Adj Close      Close       High      Low     Open     Volume
Date
2000-01-03        NaN        NaN        NaN      NaN      NaN        NaN
2000-01-04        NaN        NaN        NaN      NaN      NaN        NaN
2000-01-05        NaN        NaN        NaN      NaN      NaN        NaN
2000-01-06        NaN        NaN        NaN      NaN      NaN        NaN
2000-01-07        NaN        NaN        NaN      NaN      NaN        NaN
...               ...        ...        ...      ...      ...        ...
2021-01-04  15.860789  16.200001  16.309999  15.8100  15.8900  1570500.0
2021-01-05  15.542104  15.874500  16.142900  15.6359  16.1429  1177843.0
2021-01-06  15.717258  16.053400  16.301901  15.8546  15.9043   996056.0
2021-01-07  16.110001  16.110001  16.250000  15.8000  15.8600   665100.0
2021-01-08        NaN        NaN        NaN      NaN      NaN        NaN

             ABEV3.SA                                 ...   BBDC3.SA  \
            Adj Close      Close      High       Low  ...       High
Date                                                  ...
2000-01-03        NaN        NaN       NaN       NaN  ...   2.789780
2000-01-04        NaN        NaN       NaN       NaN  ...   2.607910
2000-01-05   0.093810   0.520870   0.52087   0.52087  ...   2.607910
2000-01-06   0.089059   0.494490   0.49449   0.49449  ...   2.728070
2000-01-07   0.089059   0.494490   0.49449   0.49449  ...   2.679360
...               ...        ...       ...       ...  ...        ...
2021-01-04  15.480000  15.480000  15.85000  15.38000  ...  24.520000
2021-01-05  15.810000  15.810000  16.02000  15.23000  ...  23.570000
2021-01-06  16.129999  16.129999  16.23000  15.63000  ...  24.459999
2021-01-07  16.040001  16.040001  16.24000  15.91000  ...  24.650000
2021-01-08        NaN        NaN       NaN       NaN  ...        NaN

                                             BBDC4.SA                        \
                  Low      Open     Volume  Adj Close      Close       High
Date
2000-01-03   2.679360   2.78978   270960.0        NaN        NaN        NaN
2000-01-04   2.461760   2.60791  1699661.0        NaN        NaN        NaN
2000-01-05   2.387060   2.46176  1477966.0        NaN        NaN        NaN
2000-01-06   2.559190   2.56893  2167684.0        NaN        NaN        NaN
2000-01-07   2.594920   2.67936  1773560.0        NaN        NaN        NaN
...               ...       ...        ...        ...        ...        ...
2021-01-04  23.500000  24.50000  4501400.0  26.411026  26.430000  27.530001
2021-01-05  23.030001  23.34000  4725400.0  26.250000  26.250000  26.400000
2021-01-06  23.389999  23.52000  6161000.0  27.120001  27.120001  27.480000
2021-01-07  23.879999  24.02000  2366900.0  27.709999  27.709999  27.790001
2021-01-08        NaN       NaN        NaN        NaN        NaN        NaN


                  Low       Open      Volume
Date
2000-01-03        NaN        NaN         NaN
2000-01-04        NaN        NaN         NaN
2000-01-05        NaN        NaN         NaN
2000-01-06        NaN        NaN         NaN
2000-01-07        NaN        NaN         NaN
...               ...        ...         ...
2021-01-04  26.260000  27.530001  39831700.0
2021-01-05  25.680000  26.200001  38931800.0
2021-01-06  26.270000  26.290001  60592900.0
2021-01-07  26.959999  27.170000  28244200.0
2021-01-08        NaN        NaN         NaN

[5289 rows x 78 columns]